<div class="se-ge-breadcrumb">
    <div data-ng-if="$ctrl.showBreadcrumb()"
        data-ng-repeat="breadcrumbItem in $ctrl.getEditorsStack()"
        class="se-ge-breadcrumb__item">
        <div class="se-ge-breadcrumb__data">
            <span class="se-ge-breadcrumb__title">{{$ctrl.getComponentName(breadcrumbItem)}}</span>
            <span class="se-ge-breadcrumb__info">{{breadcrumbItem.componentType | translate}}</span>
        </div>

        <div class="se-ge-breadcrumb__divider"
            data-ng-if="$index < $ctrl.getEditorsStack().length - 1">
            <img data-ng-src="{{$ctrl.arrowIconUrl}}"
                alt="">
        </div>
    </div>
</div>