<div data-ng-if="pageSync.ready">
    <span data-ng-if="pageSync.pageHasUnavailableDependencies || !pageSync.pageHasSyncStatus">
        <div class="se-sync-panel-header__label"
            data-translate="se.cms.synchronization.page.new.header"></div>
        <div class="se-sync-panel-header__text">
            <span data-ng-bind-html="pageSync.headerText"></span>
        </div>
    </span>
    <span data-ng-if="pageSync.pageHasSyncStatus">
        <span class="se-sync-panel-header__label"
            data-translate="se.cms.synchronization.panel.lastsync.text"></span>
        <span class="se-sync-panel-header__timestamp">{{pageSync.syncStatus.lastSyncStatus | date:'short'}}</span>
        <div class="se-sync-panel-header__text">
            <span data-translate="se.cms.synchronization.page.header"></span>
            <y-help data-ng-if="pageSync.helpTemplate"
                data-title="pageSync.helpTitle"
                data-template="pageSync.helpTemplate"></y-help>
        </div>
    </span>
</div>