/*================================
    z-Paging
================================*/
// Defintions of the z-Paging-Element (Navigation)


@import "../support/_cockpit-mixins.scss";

.yw-itemSelectorButton,
.z-paging-button {
    line-height: $editor-defaults__pagin-button--line-height;
    margin-right: $editor-defaults__pagin-button--margin-right;
    transition: $editor-defaults__pagin-button--transition;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
        background-image: $editor-defaults__pagin-button--hover-bg-image;
        background-color: $editor-defaults__pagin-button--hover-bg-color;
        color: $editor-defaults__pagin-button--hover-color;
        transition: $editor-defaults__pagin-button--transition;
        box-shadow: none;
    }
    &,
    &[disabled],
    &[disabled]:hover {
        background-image: $editor-defaults__pagin-button--bg-image;
        background-color: transparent;
    }
    &[disabled],
    &[disabled]:hover {
        opacity: $editor-defaults__pagin-button--opacity;
        box-shadow: none !important;
    }
}

.yw-itemSelectorButton {
    width: $editor-defaults__pagin-selectior-button--width;
    padding: 0;

    &[disabled],
    &[disabled]:hover {
        background-color: transparent !important;
    }
}

.z-paging {
    height: auto;
    padding: $editor-defaults__pagin--padding;
    background-color: $editor-defaults__pagin--bg-color;

    &-info {
        height: auto;
        font-size: $editor-defaults__pagin--font-size;
        line-height: $editor-defaults__pagin-info--line-height;
    }

    &-input, &-text {
        font-size: $editor-defaults__pagin--font-size;
        text-align: $editor-defaults__pagin-input-text--text-align;
    }

    &-input {
        width: $editor-defaults__pagin-input--width;
        height: $editor-defaults__pagin-input--height;
        border-color: $editor-defaults__pagin-input--border-color;
        padding: $editor-defaults__pagin-input--padding;
        margin-left: $editor-defaults__pagin-input--margin-left;
    }

    &-text {
        line-height: $editor-defaults__pagin-text--line-height;
        margin: $editor-defaults__pagin-text--margin;
        vertical-align: middle;
    }

    &-button {
        font-size: $editor-defaults__pagin--font-size;
        min-width: $editor-defaults__pagin-button--min-width;
        padding: $editor-defaults__pagin-button--padding;
        height: auto;
        border: none;
        vertical-align: middle;

        &[disabled],
        &[disabled]:hover {
            .z-paging-icon, .z-paging-icon:hover {
                background-color: $editor-defaults__pagin-button-icon--bg-color;
            }
        }
        
        .z-paging-icon[class*="z-icon-angle-"]:before {
            content: "";
        }
    }

    &-first {
        &, &:hover, &:focus, &[disabled], &[disabled]:hover {
            background-position: $editor-defaults__pagin-first-button--bg-position;
        }
    }
    
    &-previous {
        &, &:hover, &:focus, &[disabled], &[disabled]:hover {
            background-position: $editor-defaults__pagin-previous-button--bg-position;
        }
    }
    
    &-next {
        &, &:hover, &:focus, &[disabled], &[disabled]:hover {
            background-position: $editor-defaults__pagin-next-button--bg-position;
        }
    }
    &-last {
        &, &:hover, &:focus, &[disabled], &[disabled]:hover {
            background-position: $editor-defaults__pagin-last-button--bg-position;
        }
    }
    &-selected {
        &,
        &:hover,
        &:active {
            color: $editor-defaults__pagin-selected--color;
            background-color: $editor-defaults__pagin-button--hover-bg-color;
        }
    }
}

// TODO: check some old code that starts here
/* zk7-revised-TODO */
div.z-paging-os-cnt{
    &-l {
        background: #6f7c91;
        margin: 2px;
    }
    &-selected-l {
        background: #3c4c66;
        margin: 2px;
    }
}

.z-paging-os {
    div.z-paging-os-cnt-l .z-paging-os-cnt {
        color: #fff;
    }

    .z-paging-os-selected:hover {
        color: #fff;
        font-weight: bold;
    }
    .z-paging-button,
    .z-paging-button[disabled] {
        &,
        &:hover {
            background-image: none;
        }
    }
}
