<div class="edit-page-basic-tab--header">
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="control-label"
                data-translate="se.cms.pageinfo.page.type"></label>
            <div class="form-readonly-text form-readonly-text__tight">{{model.typeCode}}</div>
        </div>
        <div class="col-md-6 form-group">
            <label class="control-label"
                data-translate="se.cms.pageinfo.page.template"></label>
            <div class="form-readonly-text form-readonly-text__tight">{{model.template}}</div>
        </div>
    </div>
</div>