<div class="customization-form">
    <form>
        <div class="form-group">
            <label for="customization-name"
                data-translate="personalization.modal.customizationvariationmanagement.basicinformationtab.name"
                class="control-label required"></label>
            <input type="text"
                class="form-control"
                placeholder="{{'personalization.modal.customizationvariationmanagement.basicinformationtab.name.placeholder' | translate}}"
                name="{{customization.name}}_key"
                data-ng-model="customization.name"
                data-ng-required="true"
                id="customization-name">
        </div>
        <div class="form-group">
            <label for="customization-description"
                data-translate="personalization.modal.customizationvariationmanagement.basicinformationtab.details"
                class="personalization-modal__label"></label>
            <textarea rows="2"
                class="form-control description-area"
                placeholder="{{'personalization.modal.customizationvariationmanagement.basicinformationtab.details.placeholder' | translate}}"
                name="{{customization.description}}_key"
                data-ng-model="customization.description"
                id="customization-description"></textarea>
        </div>
        <div class="form-group">
            <label for="customization-status"
                data-translate="personalization.modal.customizationvariationmanagement.basicinformationtab.status"
                class="personalization-modal__label"></label>
            <div class="status-toggle">
                <span class="y-toggle y-toggle-lg"
                    id="customization-status"
                    ng-init="customization.status = PERSONALIZATION_MODEL_STATUS_CODES.ENABLED">
                    <input type="checkbox"
                        id="test-checkbox"
                        data-ng-model="customization.statusBoolean" />
                    <label for="test-checkbox"></label>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <a ng-show="!edit.datetimeConfigurationEnabled"
                    data-ng-click="edit.datetimeConfigurationEnabled = !edit.datetimeConfigurationEnabled"
                    data-translate="personalization.modal.customizationvariationmanagement.basicinformationtab.details.showdateconfigdata"></a>
                <a ng-show="edit.datetimeConfigurationEnabled"
                    data-ng-click="edit.datetimeConfigurationEnabled = !edit.datetimeConfigurationEnabled; resetDateTimeConfiguration();"
                    data-translate="personalization.modal.customizationvariationmanagement.basicinformationtab.details.hidedateconfigdata"></a>
            </div>
            <div data-translate="personalization.modal.customizationvariationmanagement.basicinformationtab.details.statusfortimeframe.description"></div>
        </div>
        <div class="form-group">
            <div ng-show="edit.datetimeConfigurationEnabled">
                <div class="row form-group-dates">
                    <date-time-picker-range name="data-date-time-from-to-key"
                        data-date-from="customization.enabledStartDate"
                        data-date-to="customization.enabledEndDate"
                        data-is-editable="true"
                        date-format="edit.viewDateFormat"></date-time-picker-range>
                </div>
            </div>
        </div>
    </form>
</div>