@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

/*================================
    Three Dots
================================*/
// Styling of the Three Dots

@import "../support/_create-variables.scss";

.ya-three-dots-group-popup {
    margin-top: $create__three-dots-group-popup--margin-top;
    margin-left: $create__three-dots-group-popup--margin-left;
    
    &.yw-pointer-menupopup-top-right:before, 
    &.yw-pointer-menupopup-top-right:after {
        right: $create__three-dots-group-popup--pointer-right;
    }
    .cng-action{
        padding: $create__three-dots-group-popup-content--padding;
    }
}
