<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>dummy storefront</title>
    <script src="imports/underscoreMock.js"></script>
    <script src="imports/generated/webApplicationInjector.js"></script>

    <style type="text/css">
    #component2 {
        margin-top: 300px
    }
    </style>
</head>

<body class="smartedit-page-uid-otherpage smartedit-page-uuid-otherpage smartedit-catalog-version-uuid-apparel-ukContentCatalog/Staged">
    <br/>
    <label>Another page of the storefront</label>
    <div class="smartEditComponent"
        id="component2"
        data-smartedit-component-type="componentType1"
        data-smartedit-component-id="component2"
        data-smartedit-component-uuid="component2"
        data-smartedit-catalog-version-uuid="apparel-ukContentCatalog/Staged"
        data-ng-model="component1">
        <div class="box">
            <p>component2</p>
        </div>
    </div>
</body>

</html>