@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

@import "_compare-variables.scss";

@mixin _difference-mark-indicator-icon (){
	&:before {
		content: "";
		height: $compareview__difference-indicator-icon--size;
		width: $compareview__difference-indicator-icon--size;
		border-radius: $compareview__difference-indicator-icon--border-radius;
		margin: $compareview__difference-indicator-icon--margin;
		background: $compareview__difference-indicator--color $compareview__difference-indicator-icon--background-image no-repeat center;
		background-size: contain;
		text-align: center;
		overflow: hidden;
		display: inline-block;
  	}
}