<div data-ng-show="$ctrl.ready">

    <p class="paged-list-count"
        ng-if="$ctrl.config.displayCount">
        <span>({{ $ctrl.totalItems }} {{'se.pagelist.countsearchresult' | translate}})</span>
    </p>

    <y-data-table data-columns="$ctrl.columns"
        data-config="$ctrl.config"
        data-items="$ctrl.items"
        data-on-sort-column="$ctrl.orderByColumn($columnKey, $columnSortMode)"></y-data-table>

    <y-pagination data-boundary-links="true "
        data-total-items="$ctrl.totalItems "
        data-items-per-page="$ctrl.config.itemsPerPage "
        data-ng-model="$ctrl.currentPage"
        data-on-change="$ctrl.onCurrentPageChange($currentPage)">
    </y-pagination>

</div>
<div data-ng-if="!$ctrl.ready"
    class="se-spinner">
    <div class="spinner">
        <div class="spinner-container spinner-container1">
            <div class="spinner-circle1"></div>
            <div class="spinner-circle2"></div>
            <div class="spinner-circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container spinner-container2">
            <div class="spinner-circle1"></div>
            <div class="spinner-circle2"></div>
            <div class="spinner-circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container spinner-container3">
            <div class="spinner-circle1"></div>
            <div class="spinner-circle2"></div>
            <div class="spinner-circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>