<div class="se-active-catalog-thumbnail">
    <div class="se-active-catalog-version-container__thumbnail"
        data-ng-click="$ctrl.onClick()">
        <div class="se-active-catalog-version-container__thumbnail__default-img">
            <div class="se-active-catalog-version-container__thumbnail__img"
                style="background-image: url('{{$ctrl.selectedVersion.thumbnailUrl}}');">
            </div>
        </div>
        <div class="se-active-catalog-version-container__name">{{$ctrl.selectedVersion.version}}</div>
    </div>
</div>