<!DOCTYPE html>
<html>

<head>

    <!--3rd prty libs-->
    <script src="../../../web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="../../../web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/dist/smartedit/css/outer-styling.css">

    <!--libs-->
    <script src="../../../web/webroot/static-resources/smarteditloader/js/smarteditloader.js"></script>
    <script src="../../../web/webroot/static-resources/smarteditcontainer/js/smarteditcontainer.js"></script>

    <!--Mocks-->
    <script src="../utils/commonMockedModules/PermissionMock.js"></script>
    <script src="../utils/commonMockedModules/whoAmIMock.js"></script>
    <script src="outerMocks.js"></script>
    <script src="outerapp.js"></script>

    <base href="/web/webroot/" />

</head>

<body data-ng-app="smarteditloader">
    <h1>Smart Edit Container</h1>
    <br/>
    <div data-ng-controller="DefaultCtrl as ctrl"
        style="position:absolute; z-index: 99999; top: 0; left: 0;">
        <button id="navigateButtonOuter"
            type="button"
            data-ng-click="ctrl.navigate()">Navigate</button>
    </div>
    <div data-ng-view></div>
    <script src="../../test/e2e/e2eOnLoadingSetup.js"></script>
</body>

</html>