@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

/*================================
    Explorer Tree
================================*/
@import "../support/_explorerTree-mixins.scss";

.yw-explorerTree {
  &-widget {
    border: none;
  }

  &-filterDiv {
    background: none;
    padding: $explorertree__tree-filter-div--padding;
  }

  &-hideTextBoxDiv {
    float: right;
  }
}

