@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

/*================================
    Explorer Tree Menu-Contents
================================*/
@import "../support/_explorerTree-mixins.scss";

// Explorer Tree
// ====================
// General styling

.yw-explorerTree {

  &-widget {
    .yw-explorerTree {
      height: 100%;
//      border: 0 none;
      overflow-y: auto;

      &.z-vfiletree {
        background: none;
        overflow: auto;
      }

      .yw-treeCellInner .z-label {
        display: block;
      }

      .z-treechildren .z-treecell-content {
        display: table;
        padding: $explorertree__item--padding;
      }
    }
  }

  .z-treerow {
    background-color: $explorertree__row--bg-color;
    border-color: transparent;
    
    &:hover > .z-treecell {
      background-color: $explorertree__treerow-hover--bg-color;
    }
  }

  .y-tree-icon {
    float: left;
    height: $explorertree__item-icon--size;
    left: $explorertree__item-icon--left;
    margin-right: $explorertree__item-icon--margin-right;
    margin-top: $explorertree__item-icon--margin-top;
    min-height: $explorertree__item-icon--size;
    position: absolute;
    width: $explorertree__item-icon--size;
  }

  .z-treerow:hover [class^="y-tree-icon"] {
    background-position: 0 (-1 * $explorertree__item-icon--size);
  }

  .yw-selected,
  .yw-selected:hover {
    [class^="y-tree-icon"] {
      background-position: 0 (-2 * $explorertree__item-icon--size);
    }
  }

  .z-treerow-focus,
  .z-treerow-focus:hover {
    [class^="y-tree-icon"] {
      background-position: 0 (-3 * $explorertree__item-icon--size);
    }
  }

  .yw-treeCellInner {
    display: inline-table;
    position: relative;
  }
}

// explorer Tree related defintions
// ====================
//

.yw-no-permission-label {
  opacity: 0.3;
  cursor: not-allowed !important;

  > td {
    cursor: not-allowed;
  }
}

.yw-navigationNode-cannot-access {
  opacity: 0.5;
  font-style: italic;
}
