<div class="cms-nested-component"
    data-component-id='{{$ctrl.item.uid}}'>
    <span class="y-select-item-printer cms-nested-component__item"
        data-ng-if="$ctrl.isSelected"
        data-ng-click="$ctrl.onComponentClick()">
        <img data-ng-src="{{$ctrl.imageRoot}}/images/component_default.png"
            class="cms-nested-component__image"
            alt="{{$ctrl.item.name}}"
            title="{{$ctrl.item.name}} - {{$ctrl.item.typeCode}}" />
        <span class="cms-nested-component__data">
            <p class="cms-nested-component__name">{{$ctrl.item.name}}</p>
            <p class="cms-nested-component__type">{{$ctrl.item.typeCode}}</p>
        </span>
    </span>
    <div class="y-select-item-printer cms-nested-component__result-item"
        data-ng-if="!$ctrl.isSelected">
        <span class="cms-nested-component__result-name">{{$ctrl.item.name}}</span>
        <span class="cms-nested-component__result-code">{{$ctrl.item.typeCode}}</span>
    </div>
</div>