.oms-widget-atpformula-table {
  padding-right: 20px; }

.atpformulas-header {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between; }

.atpformulas-row > div:nth-child(3) {
  padding-left: 22px; }

.atpformulabuilderheaderactions > span,
.atpformulabuilderheadervariables > span {
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: #151c22; }

.oms-widget-atpformula-table .z-vlayout-inner:nth-child(2) .atpformulas-row {
  border-top: 1px solid #e5e9ed; }

.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row {
  border-bottom: 1px solid #e5e9ed; }
  .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row div.addvariableatpformula, .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row div.subvariableatpformula {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; }
  .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row div.addvariableatpformula {
    background-image: url("images/icon_action_add.png");
    width: 30px;
    height: 40px; }
  .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row div.subvariableatpformula {
    background-image: url("images/icon_action_sub.png");
    width: 30px;
    height: 40px; }
  .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row div.clearvariableatpformula {
    background-image: url("images/icon_action_remove.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    height: 36px;
    width: 36px; }
    .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row div.clearvariableatpformula:hover {
      cursor: pointer; }
  .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row .atpformulas-variables, .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row .atpformulas-variables__cancel {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0; }
  .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row > div:first-child, .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row > div:nth-child(2), .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row > div:nth-child(3) {
    float: left; }
  .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row > div:last-child {
    float: right; }
  .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row > div:first-child, .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row > div:nth-child(2), .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed .atpformulas-row > div:last-child {
    margin-top: 2px;
    margin-bottom: 2px; }

.atpformulas-variables__cancel {
  color: #151c22; }

.atpformulas-variables {
  color: #818ea2; }

.atpformulas-row .ye-default-reference-editor-remove-button.ye-default_remove_formula {
  position: initial;
  display: inline-block;
  margin-top: 0px; }

.atpformulas-availability {
  display: none; }

.atpformulas-availability--bold {
  font-weight: bold; }

.atpformulas-variables .z-hlayout-inner .z-label {
  margin-bottom: 0; }

.atpformulas-variables .z-hlayout-inner .atpformulas-availability--description {
  color: #acacac; }

td.ye-actiondots.ye-actiondots--consignment .z-listcell-content {
  padding-right: 0 !important; }
td.ye-actiondots.ye-actiondots--consignment button.ye-actiondots--btn.ye-actiondots--consignment--btn {
  background: url("images/dots.png") 0 0;
  background-image: url("images/dots.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 36px;
  display: inline-block;
  padding: 0;
  float: right;
  border: none; }
td.ye-actiondots.ye-actiondots--consignment:last-child {
  text-align: right; }
td.ye-actiondots.ye-actiondots--consignment:hover button.ye-actiondots--btn.ye-actiondots--consignment--btn {
  background-position: 0 -24px;
  background-repeat: no-repeat;
  height: 24px;
  width: 36px; }
td.ye-actiondots.ye-actiondots--consignment-focus button.ye-actiondots--btn.ye-actiondots--consignment--btn {
  background-position: 0 -48px; }
td.ye-actiondots.ye-actiondots--consignment-active button.ye-actiondots--btn.ye-actiondots--consignment--btn {
  background-position: 0 -48px; }
td.ye-actiondots.ye-actiondots--consignment-disabled, td.ye-actiondots.ye-actiondots--consignment-disabled:hover > button.ye-actiondots--btn.ye-actiondots--consignment--btn {
  background-position: 0 -72px; }

.ye-warehouse-inbox-collection-browser .yw-coll-browser-container .z-listbox-body .z-listitem .z-listcell {
  border-top: 1px solid #f2f2f2; }

.ye-warehouse-inbox-collection-browser .yw-coll-browser-container .z-listbox-body .z-listitem > td > .z-listcell-content:after {
  border-top: 0px; }

.yw-coll-browser-container .ye-actiondots--consignment.ye-actiondots .z-listcell-content {
  min-height: initial;
  margin-right: initial; }

.yw-quicklist-warehousing-hbox-container {
  width: 100%;
  border-bottom: 1px solid #eaedf1; }

.yw-quicklist-warehousing--tile-title {
  margin: 15px 0 0 10px;
  font-weight: bold;
  display: block; }

.yw-quicklist-warehousing--tile {
  border-bottom: 1px solid #d5d8dc; }

.yw-quicklist-warehousing--tile--img {
  margin: 10px; }

.yw-quicklist-warehousing--tile--prod-code {
  margin-top: 10px;
  display: block; }

.yw-quicklist.ye-warehouse-inbox-quick-list {
  background-color: #ffffff; }

.y-toolbar-leftslot .cng-action-group td.z-hbox-separator {
  margin-left: -2px;
  display: inline-block;
  height: 32px; }
.y-toolbar-leftslot .cng-action-group .cng-action {
  margin-right: 2px; }
  .y-toolbar-leftslot .cng-action-group .cng-action td.z-hbox-separator {
    margin: 0;
    height: auto; }
.y-toolbar-leftslot .cng-action.cng-action-disabled {
  position: relative;
  padding: 0;
  margin: 0; }
  .y-toolbar-leftslot .cng-action.cng-action-disabled:hover {
    background: none; }
  .y-toolbar-leftslot .cng-action.cng-action-disabled tr {
    display: none; }

.cng-action .z-hbox-separator {
  background-color: inherit; }

button.z-button.declineitem {
  background-image: url("images/icon_action_decline_default.png");
  background-color: #FFFFFF;
  width: 30px;
  border: 1px solid #C0C0C0;
  background-position: center; }
  button.z-button.declineitem:hover {
    background-image: url("images/icon_action_decline_hover.png");
    background-color: #085ABC; }
button.z-button.edititem {
  background-image: url("images/icon_action_edit_default.png");
  background-color: #ffffff;
  width: 20px;
  border: 1px solid #C0C0C0;
  background-position: center;
  background-repeat: no-repeat; }
  button.z-button.edititem:hover {
    background-image: url("images/icon_action_edit_hover.png");
    color: #32a0ec;
    transition: background-color 0.3s ease 0s; }
  button.z-button.edititem.disabled {
    background-image: url("images/icon_action_edit_disabled.png");
    color: inherit; }

.y-editor-area-attributes-cnt-max .z-groupbox-content .z-hbox, .y-editor-area-attributes-cnt-max.z-groupbox-content table {
  width: 100%; }

.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printpickslipaction.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printpackaction.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printshippinglabelaction.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_shipaction.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_confirmpickupaction.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_reallocateaction.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_returns_acceptgoods.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_returns_cancelreturnaction.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_exportforms.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_stock_adjustment.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_internaltransfer_accept:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_internaltransfer_reject:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_asn_accept.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_asn_reject.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printreturnshippinglabelaction.cng-action:not(.cng-action-disabled),
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printreturnformaction.cng-action:not(.cng-action-disabled) {
  padding: 2px 10px; }
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printpickslipaction.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printpackaction.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printshippinglabelaction.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_shipaction.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_confirmpickupaction.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_reallocateaction.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_returns_acceptgoods.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_returns_cancelreturnaction.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_exportforms.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_stock_adjustment.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_internaltransfer_accept:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_internaltransfer_reject:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_asn_accept.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_asn_reject.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printreturnshippinglabelaction.cng-action:not(.cng-action-disabled) tr,
  .y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printreturnformaction.cng-action:not(.cng-action-disabled) tr {
    vertical-align: middle; }

.yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_taskassignment_done_doneaction.cng-action:not(.cng-action-disabled),
.yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printconsolidatedpickslip_printconsolidatedpickslipaction.cng-action:not(.cng-action-disabled),
.yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printconsolidatedpickslip_printconsolidatedpickslipaction.cng-action.cng-action-disabled,
.yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_taskassignment_done_doneaction.cng-action.cng-action-disabled {
  padding: 2px 10px; }
  .yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_taskassignment_done_doneaction.cng-action:not(.cng-action-disabled) tr,
  .yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printconsolidatedpickslip_printconsolidatedpickslipaction.cng-action:not(.cng-action-disabled) tr,
  .yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printconsolidatedpickslip_printconsolidatedpickslipaction.cng-action.cng-action-disabled tr,
  .yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_taskassignment_done_doneaction.cng-action.cng-action-disabled tr {
    vertical-align: middle; }

.yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_taskassignment_done_doneaction.cng-action:hover,
.yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printconsolidatedpickslip_printconsolidatedpickslipaction.cng-action:hover {
  background: #ffffff;
  color: #32a0ec;
  transition: background-color 0.3s ease 0s; }
.yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_taskassignment_done_doneaction.cng-action.cng-action-disabled:hover,
.yw-listview-actioncontainer .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printconsolidatedpickslip_printconsolidatedpickslipaction.cng-action.cng-action-disabled:hover {
  color: inherit;
  background: none; }

.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_shipaction:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printpickslipaction:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printpackaction:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printshippinglabelaction:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_confirmpickupaction:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_reallocateaction:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_returns_acceptgoods:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_returns_cancelreturnaction:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_stock_adjustment:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_asn_accept:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_asn_reject:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_taskassignment_done_doneaction:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_internaltransfer_reject:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_internaltransfer_accept:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_exportforms:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printreturnshippinglabelaction:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printreturnformaction:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printconsolidatedpickslip_printconsolidatedpickslipaction:hover {
  background: #ffffff;
  color: #32a0ec;
  transition: background-color 0.3s ease 0s; }
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_shipaction.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printpickslipaction.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printpackaction.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printshippinglabelaction.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_confirmpickupaction.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_reallocateaction.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_returns_acceptgoods.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_returns_cancelreturnaction.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_stock_adjustment.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_asn_accept.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_asn_reject.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_taskassignment_done_doneaction.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_internaltransfer_reject.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_internaltransfer_accept.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_exportforms.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printreturnshippinglabelaction.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printreturnformaction.cng-action-disabled:hover,
.y-toolbar-leftslot .cng-action-group .ya-de_hybris_platform_warehousingbackoffice_actions_printconsolidatedpickslip_printconsolidatedpickslipaction.cng-action-disabled:hover {
  color: inherit;
  background: none; }

div.yw-explorerTree .y-tree-icon-warehousing\.treenode\.taskassignment\.inbox .y-tree-icon {
  background-image: url(../css/images/navbar/_tree_inbox.png); }

div.yw-explorerTree .y-tree-icon-warehousing\.typenode\.pointofservices .y-tree-icon {
  background-image: url(../css/images/navbar/_point_of_service.png); }

div.yw-explorerTree .y-tree-icon-warehousing\.typenode\.warehouses .y-tree-icon {
  background-image: url(../css/images/navbar/_warehouse.png); }

div.yw-explorerTree .y-tree-icon-warehousing\.typenode\.stocklevels .y-tree-icon {
  background-image: url(../css/images/navbar/_stock_level.png); }

div.yw-explorerTree .y-tree-icon-warehousing\.typenode\.atpviews .y-tree-icon {
  background-image: url(../css/images/navbar/_atp_views.png); }

div.yw-explorerTree .y-tree-icon-warehousing\.typenode\.return\.waiting\.goods .y-tree-icon {
  background-image: url(../css/images/navbar/_waiting_for_goods.png); }

div.yw-explorerTree .y-tree-icon-warehousing\.typenode\.atp\.formulas .y-tree-icon {
  background-image: url(../css/images/navbar/_atp_formulas.png); }

div.yw-explorerTree .y-tree-icon-warehousing\.typenode\.sourcing\.configuration .y-tree-icon {
  background-image: url(../css/images/navbar/_sourcing_configuration.png); }

div.yw-explorerTree .y-tree-icon-warehousing\.typenode\.atp\.restockconfig .y-tree-icon {
  background-image: url(../css/images/navbar/_restock_config.png); }

div.yw-explorerTree .y-tree-icon-warehousing\.typenode\.asns .y-tree-icon {
  background-image: url(../css/images/navbar/_advance_shipping_notice.png); }

div.yw-explorerTree .y-tree-icon-warehousing\.treenode\.order\.shipping .y-tree-icon {
  background-image: url(../css/images/navbar/_consignments.png); }

.ye-warehouse-inbox-layout .noBG.yw-layoutregion.z-center.z-center-noborder {
  background-color: #eaedf1; }
