<div class="se-contextual-more-menu">
    <div id="{{::ctrl.smarteditComponentId}}-{{::ctrl.smarteditComponentType}}-more-menu">
        <div data-ng-repeat="item in ctrl.getItems().moreMenuItems">
            <a class="se-contextual-more-menu--link"
                data-smartedit-id="{{ctrl.smarteditComponentId}}"
                data-smartedit-type="{{ctrl.smarteditComponentType}}">
                <contextual-menu-item data-mode="compact"
                    class="se-contextual-more-menu--item"
                    data-ng-click="ctrl.triggerMenuItemAction(item, $event)"
                    y-popup-overlay="ctrl.itemTemplateOverlayWrapper"
                    y-popup-overlay-trigger="{{ctrl.shouldShowTemplate(item)}}"
                    y-popup-overlay-on-show="ctrl.onShowItemPopup()"
                    y-popup-overlay-on-hide="ctrl.onHideItemPopup(true)"
                    data-index="$index"
                    data-component-attributes="ctrl.componentAttributes"
                    data-slot-attributes="ctrl.slotAttributes"
                    data-item-config="item"
                    data-component-id="{{ctrl.smarteditComponentId}}"
                    data-component-uuid="{{ctrl.componentAttributes.smarteditComponentUuid}}"
                    data-component-type="{{ctrl.smarteditComponentType}}"
                    data-slot-id="{{ctrl.smarteditSlotId}}"
                    data-slot-uuid="{{ctrl.smarteditSlotUuid}}"
                    data-container-id="{{ctrl.smarteditContainerId}}"
                    data-container-type="{{ctrl.smarteditContainerType}}">
                </contextual-menu-item>
            </a>
        </div>
    </div>
</div>