<div data-recompile-dom="es.recompile">
    <generic-editor data-ng-if="es.isReady"
        data-smartedit-component-type="es.smarteditComponentType"
        data-smartedit-component-id="es.smarteditComponentId"
        data-structure-api="es.structureApi"
        data-content="es.content"
        data-content-api="es.contentApi"
        data-get-api="es.getApi($api);">
    </generic-editor>
</div>