<div class='{{cssClass}} yToolbar'>
    <div class="yToolbar__Left">
        <div data-ng-repeat="item in actions | filter:{section:'left'}"
            class="yTemplateToolbar yTemplateToolbar__left {{::item.className}}">
            <div class="yTemplateToolbar__action-template"
                data-ng-include="item.include && item.type =='TEMPLATE' ? item.include : 'toolbarActionTemplate.html'"></div>
            <toolbar-item-context data-ng-if="item.contextTemplateUrl"
                class="yTemplateToolbar__context-template"
                data-item-key="item.key"
                data-item-is-open="item.isOpen"
                data-context-template-url="item.contextTemplateUrl"></toolbar-item-context>
        </div>
    </div>
    <div class="yToolbar__Middle">
        <div data-ng-repeat="item in actions | filter:{section:'middle'}"
            class="yTemplateToolbar yTemplateToolbar__middle {{::item.className}}">
            <div class="yTemplateToolbar__action-template"
                data-ng-include="item.include && item.type =='TEMPLATE' ? item.include : 'toolbarActionTemplate.html'"> </div>
            <toolbar-item-context data-ng-if="item.contextTemplateUrl"
                class="yTemplateToolbar__context-template"
                data-item-key="item.key"
                data-item-is-open="item.isOpen"
                data-context-template-url="item.contextTemplateUrl"></toolbar-item-context>

        </div>

    </div>
    <div class="yToolbar__Right">
        <div data-ng-repeat="item in actions | filter:{section:'right'}"
            class="yTemplateToolbar yTemplateToolbar__right {{::item.className}}">
            <div class="yTemplateToolbar__action-template"
                data-ng-include="item.include && item.type =='TEMPLATE' ? item.include : 'toolbarActionTemplate.html'"> </div>
            <toolbar-item-context data-ng-if="item.contextTemplateUrl"
                class="yTemplateToolbar__context-template"
                data-item-key="item.key"
                data-item-is-open="item.isOpen"
                data-context-template-url="item.contextTemplateUrl"></toolbar-item-context>
        </div>
    </div>
</div>