@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';



.yw-view-switch-container .z-tabpanel {
	padding: 0;
	border: none;
}
