@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';



.yw-editorarea-password {
    &-editor-spacer {
        margin-bottom: $editorarea__password_panel--padding;
    }

    &-match-validation {
        margin-top: $editorarea__password_panel--padding;

        .yw-editorarea-tabbox-tabpanels & {
            color: $editorarea__password-panel-label-validation--color;
        }
    }
}
