<a class="se-dropdown-item se-dropdown-item--delete"
    ng-class="{'se-dropdown-item__disabled': !$ctrl.isDeletePageEnabled}"
    data-ng-click="$ctrl.isDeletePageEnabled && $ctrl.onClickOnDeletePage()">
    <span class="se-dropdown-item--label"
        data-translate="se.cms.actionitem.page.trash" />

    <div class="se-dropdown-item--delete-page-popover"
        data-ng-if="!$ctrl.isDeletePageEnabled"
        data-y-popover
        data-placement="'left'"
        data-template-url="'deletePageItemTooltipTemplate.html'"
        data-trigger="'hover'">
    </div>
</a>