<div class="ySmartEditToolbars">
    <toolbar data-css-class="ySmartEditTitleToolbar"
        data-image-root="imageRoot"
        data-toolbar-name="smartEditTitleToolbar"></toolbar>
    <toolbar data-css-class="ySmartEditExperienceSelectorToolbar"
        data-image-root="imageRoot"
        data-toolbar-name="experienceSelectorToolbar"></toolbar>
</div>
<div id="js_iFrameWrapper"
    class="iframeWrapper">
    <iframe id="ySmartEditFrame"
        src=""
        hy-dropabpe-iframe></iframe>
    <div id="ySmartEditFrameDragArea"></div>
</div>