@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

/*================================
    Cockpit Toolbar
================================*/
// Definitions of Tabs, Tabpanel


@import "../support/_cockpit-variables.scss";


/*====== ICONS FOR TOOLBAR ======*/

/* TODO USE PSEUDOCLASS FOR GENERAL BUTTON STYLE
[class^="y-icon-"],
[class*=" y-icon-"]{

 }
 */
//check if is this toolbar-only definition
.y-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

/*===== TOOLBAR GENERAL ======*/

/*===== z-TOOLBAR ======*/
.z-toolbar {
    background-color: $grey__light--300;
    border-bottom: none;
    padding: 0px;
    min-height: 32px;
    .z-button {
        border: none;
        margin: 0 !important;
        padding: 6px 10px;
        background: none;
    }
}

/*===== y-TOOLBAR ======*/

.y-toolbar,
.yw-listview-bottom-bar {
    .z-label.number-of-items-label {
        padding-left: 10px;
        line-height: $toolbar__vertical-centering-base--height;
    }
    .z-paging {
        border: none;

        &-input, &-text {
            margin-top: 0;
        }
    }
}

.y-toolbar {
    overflow: hidden;

    &-leftslot {
        float: left;
        
        .cng-action-group {
            margin-right: -1px;
        }
    }

    &-rightslot {
        float: right;
        
        .cng-action-group {
            margin-left: -1px;
        }
    }

    .z-hbox-separator {
        width: 2px !important;
        background-color: $grey__light--500;
    }

    .z-paging-button,
    .yw-itemSelectorButton,
    .cng-action-enabled .cng-action-icon {
        box-shadow: inset 0 0 0 $editor-defaults__action-button--border-width rgba($editor-defaults__action-button--hover-border-color, 0);
        &:hover, &:focus {
            box-shadow: inset 0 0 0 $editor-defaults__action-button--border-width $editor-defaults__action-button--hover-border-color;
        }
    }
    .z-paging-button[disabled]{
        &:hover, &:focus {
            box-shadow: none;
        }
    }
    .cng-action-group {
        display: inline-block;
        > tbody {
            display: inline-table;
        }
        td {
            > .z-label {
                line-height: $window__action-group-label--line-height;
                padding: $window__action-group-label--padding;
                color: $window__action-group-label--color;
                display: inline-block;
            }
        }
        + .cng-action-group {
            &:before {
                display: inline-block;
                border-left: $window__action-group-delimiter--border;
                margin-right: $window__action-group-delimiter--margin-x;
                margin-left: $window__action-group-delimiter--margin-x;
                height: $window__action-group-delimiter--height;
                z-index: $window__action-group-delimiter--z-index;
                width: 0;
                content: "";
                float: left;
            }
        }
    }
}

/*===== STATUS BAR ======*/

.y-statusbar {
    background: $toolbar-defaults__statusbar--bg-color;
}


/*===== TOOLBAR BUTTON ======*/

.z-toolbarbutton {
    border: none;
}

.z-toolbarbutton:hover {
    background-color: $white; //#6f7c91;
    box-shadow: none;
    border: none;
}

.y-toolbar .z-toolbarbutton {
    display: block;
    float: left;

    &:hover {
        background-color: $white;
    }
}

.y-toolbar .z-toolbarbutton,
.y-toolbar .z-toolbarbutton .z-toolbarbutton-body,
.y-toolbar .z-toolbarbutton .z-toolbarbutton-body .z-toolbarbutton-content {
    margin: 0;
    padding: 0;
}

.y-toolbar .z-toolbarbutton:hover,
.y-toolbar .z-toolbarbutton:hover .z-toolbarbutton-body {
    border: none;
}

.z-toolbarbutton-content,
.z-toolbarbutton:hover .z-toolbarbutton-content {
    color: $black__blueish--100;
}