<ui-select id="{{field.qualifier}}-selector"
    ng-model="model[qualifier]"
    theme="select2"
    data-ng-disabled="!field.editable"
    reset-search-input="false"
    title=""
    style="width:100%">
    <ui-select-match placeholder="{{'se.genericeditor.dropdown.placeholder' | translate}}"
        allow-clear="true">
        <span id="enum-{{field.qualifier}}">{{$select.selected.label}}</span>
        <br/>
    </ui-select-match>
    <ui-select-choices id="{{field.qualifier}}-list"
        repeat="option.code as option in field.options[qualifier]"
        refresh="editor.refreshOptions(field, qualifier, $select.search)"
        value="{{$select.selected.code}}"
        refresh-delay="0"
        position="down">
        <small>
            <span>{{option.label}}</span>
        </small>
    </ui-select-choices>
</ui-select>