<!DOCTYPE html>
<html>

<head>

    <!--3rd prty libs-->
    <script src="../../../web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="../../../web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/dist/smartedit/css/outer-styling.css">

    <!--libs-->
    <script src="../../../web/webroot/static-resources/smarteditloader/js/smarteditloader.js"></script>
    <script src="../../../web/webroot/static-resources/smarteditcontainer/js/smarteditcontainer.js"></script>

    <!--Mocks-->
    <script src="../utils/commonMockedModules/PermissionMock.js"></script>
    <script src="../utils/commonMockedModules/whoAmIMock.js"></script>

    <script type="text/javascript">
    angular.module('smarteditloader').controller("DefaultCtrl", function() {});
    angular.module('smarteditcontainer').controller("DefaultCtrl", function defaultCtrl(urlService) {
        this.navigate = function() {
            urlService.path('/customView');
        };
    });
    </script>

    <script src="mocksforAuthentication.js"></script>

</head>

<body data-ng-app="smarteditloader">
    <div data-ng-controller="DefaultCtrl as ctrl"
        style="position:absolute; z-index: 99999; top: 0; left: 0;">
        <button id="navigateButtonOuter"
            type="button"
            data-ng-click="ctrl.navigate()">Navigate</button>
    </div>
    <div data-ng-view></div>
    <script src="../../e2e/e2eOnLoadingSetup.js"></script>
</body>

</html>