/**********************************************
				Overlay
 **********************************************/

.over-slot-enabled {
	border: 2px @smartedit-blue9 solid;
	opacity: 0.65;
	cursor: grabbing;
}

.over-slot-disabled {
	border: solid @smartedit-red3 1px;
	background-color: @smartedit-red3;
	opacity: 0.65;
	cursor: no-drop;
}

.over-slot-disabled:after {
	text-align: center;
	color: @smartedit-white;
	content: attr(data-content);
	display: block;
	z-index: @z-index-level-1;
}

.eligible-slot {
	border: dashed @smartedit-grey15 1px;
}

.ui-sortable-handle {
	cursor: grab;
}

.ySEemptySlot {
	min-height: 72px;
	border: 1px dashed @smartedit-grey15;
}

// HTML 5 DRAG AND DROP STYLING
.ySECmsScrollArea {
	position: fixed;
	background-color: fade(@smartedit-grey29, 70%);
	left: 0;
	right: 0;
	z-index: @z-index-level-5;
	text-align: center;
	transition: 1s all;

	color: @smartedit-white;
	text-transform: uppercase;
	font-size: 1.8em;
	vertical-align: middle;
}

.ySEIconBckg {
	background-color: @smartedit-blue10;
}

.overlayDnd {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	pointer-events: none;
}

.smarteditoverlay_dndRendering {
	animation: fadeInDndRendering .5s 1;
	background-color: fade(@smartedit-white, 70%);

	.smartEditComponentX[ data-smartedit-component-type='ContentSlot' ] {
		border: 1px @smartedit-blue9 dashed;
	}
}

.component_dragged {
	background-color: transparent;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, fade(@smartedit-black, 10%) 15px, fade(@smartedit-black, 10%) 30px);
}

.component_dragged_hovered {
	background-color: fade(@smartedit-green2, 30%);
	background-image: none;
}

.overlayDropzone {
	visibility: hidden;
	position: absolute;
	z-index: @z-index-level-1;
}

.over-slot-enabled .overlayDropzone:not(.overlayDropzone--hovered) {
	visibility: visible;
	background-color: fade(@smartedit-blue9, 30%);
}

.over-slot-enabled .component_dragged .overlayDropzone {
	visibility: hidden;
}

.overlayDropzone.overlayDropzone--hovered {
	visibility: visible;
	animation: fadeSuccessContentSlot .3s 1;
	background-color: fade(@smartedit-green2, 30%);
}

.overlayDropzone--left,
.overlayDropzone--right {
	height: 100% !important;
	top: 0 !important;
	width: 20px !important;
}

.overlayDropzone--top,
.overlayDropzone--bottom {
	top: 0 !important;
	width: 100% !important;
	height: 20px !important;
}

.overlayDropzone--left {
	left: 0 !important;
}

.overlayDropzone--right {
	left: auto !important;
	right: 0 !important;
}

.overlayDropzone--top {
	top: 0 !important;
}

.overlayDropzone--bottom {
	bottom: 0 !important;
	top: auto !important;
}

.overlayDropzone.overlayDropzone--full {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	animation: fadeSuccessContentSlot .3s 1;
	background-color: fade(@smartedit-green2, 30%) !important;
}

.overlayDropzone--hovered.overlayDropzone--top,
.overlayDropzone--hovered.overlayDropzone--bottom {
	transform: scale(1, 2);
	transition-duration: 0.2s;
}

.overlayDropzone--hovered.overlayDropzone--left,
.overlayDropzone--hovered.overlayDropzone--right {
	transform: scale(2, 1);
	transition-duration: 0.2s;
}

/**********************************************
				Accelerator
 **********************************************/

.ySEEmptySlot {
	min-height: 47px;
}

.se-storefront-component {
	min-height: 48px;
}


/********************************************************
                    Y-Popup-Overlay
*********************************************************/

.y-popover-outer {
	position: absolute;
	width: auto;
	height: auto;
	z-index: 99999;
}

.y-popover-inner {
	position: absolute;
	width: auto;
	height: auto;
	display: inline-block;
}