@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';



$listlayout__list-defaults--padding: $container-spacing-default__base;
$listlayout__list-container--max-width: 1260px;
$listlayout__list-container--padding-bottom: $listlayout__list-defaults--padding;
$listlayout__list-child--margin: $listlayout__list-defaults--padding $listlayout__list-defaults--padding 0; 
$listlayout__list-child--box-shadow: 0px 2px 5px 1px rgba($black, 0.3);
