@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

.yw-de_hybris_platform_adaptivesearch_widgets_searchContext {
  .yas-selectors {
    display: block;

    .yas-language-selector {
        display: inline-block;
    }

    .yas-currency-selector {
        display: inline-block;
    }
  }
}
