<div class="popover se-ypopover"
    data-ng-class="$ctrl.placement">
    <div class="arrow"
        x-arrow>
    </div>
    <div class="popover-inner">
        <h3 class="popover-title"
            data-ng-if="$ctrl.title">{{ $ctrl.title | translate }}</h3>
        <div class="popover-content"
            data-compile-html="$ctrl.template"></div>
    </div>
</div>