/* *
/* This file includes the styles used in Combined View Ranking
*/

@pe-combinedview-config__hyicon-remove--font-size: 22px;
@pe-combinedview-config__ui-select-layout--margin: @perso-gutter 0 2*@perso-gutter 0;
@pe-combinedview-config__list-layout--margin-top: -1px;
@pe-combinedview-config__list-label--padding-bottom: 0.5*@perso-gutter;     //10px
@pe-combinedview-config__cname--padding-right: 0.5*@perso-gutter;   //10px
@pe-combinedview-config__vname--padding: 0 0.5*@perso-gutter;    //0 10px
@pe-combinedview-config__ui-select-choices-col2--padding-left: 0.5*@perso-gutter;   //10px
@pe-combinedview-config__filter-label-mobile-layout--margin-top: 0.5*@perso-gutter;     //10px

.pe-combinedview-config__select-group-layout {
    margin: @pe-combinedview-config__ui-select-layout--margin;
    .select2-disabled {
        opacity: @opacity_point-four;
        background: none;
        cursor: none;
    }
}

.pe-combinedview-config__select-group-label-layout {
    display: flex;
    justify-content: space-between;
}

.pe-combinedview-config__label, .pe-combinedview-config__filter-label {
    align-self: center;
    margin-bottom: 0;
}

.pe-combinedview-config__filter-layout {
    display: flex;
    justify-content: flex-end;
}

.pe-combinedview-config__ui-select-placeholder {
    font-size: @perso__default-text--font-size;
    color: @text-color-light-grey;
}

.pe-combinedview-config__ui-select-item--selected {
    font-weight: @font-weight-bold;
}

.pe-combinedview-config__ui-select-choices-layout {
    display: flex;
    justify-content: flex-start;
}

.pe-combinedview-config__ui-select-choices-col1 {
    width: 60%;
}

.pe-combinedview-config__ui-select-choices-col2 {
    padding-left: @pe-combinedview-config__ui-select-choices-col2--padding-left;
    width: 40%;
}

.pe-combinedview-config__divider {
    border-top: 1px solid @border-color-light-grey;
}

.pe-combinedview-config__list-layout {
    border: 1px solid @border-color-light-grey; 
    margin-top: @pe-combinedview-config__list-layout--margin-top;
    display: flex;
    justify-content: space-between;
}

.pe-combinedview-config__list-label {
    padding-bottom: @pe-combinedview-config__list-label--padding-bottom;    //for consistency with other labels on the page
}

.pe-combinedview-config__letter-layout {
    width: 8%
}

.pe-combinedview-config__names-layout {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex: 1;     
    min-width: 0;
}

.pe-combinedview-config__cname  {
    font-weight: @font-weight-bold;
    flex: 5;
    padding-right: @pe-combinedview-config__cname--padding-right;
}
.pe-combinedview-config__vname {
    padding: @pe-combinedview-config__vname--padding;
    flex: 7;
}

.pe-combinedview-config__hyicon-globe {
    width: 5%;
    align-self: center;
}

.pe-combinedview-config__hyicon-remove {
    width: 5%;
    align-self: center;
    text-align: center;
    font-size: @pe-combinedview-config__hyicon-remove--font-size;
    color: @text-color-light-blue-grey;
    &:hover {
        opacity: @opacity_point-five;
    }
}

@media (max-width: 700px) {
    .pe-combinedview-config__select-group-label-layout {
        flex-direction: column;
        justify-content: flex-start;
    }

    .pe-combinedview-config__label {
        align-self: flex-start;
    }

    .pe-combinedview-config__filter-layout {
        justify-content: flex-start;       
    }

    .pe-combinedview-config__letter-layout {
        width: 20%
    }

    .pe-combinedview-config__names-layout {
        width: 65%
    }

    .pe-combinedview-config__hyicon-globe, .pe-combinedview-config__hyicon-remove {
        width: 8%;
    }
}

@media (max-width: 600px) {
    .pe-combinedview-config__filter-layout {
        flex-direction: column;
        justify-content: flex-start;
    }

    .pe-combinedview-config__filter-label {
        margin-top: @pe-combinedview-config__filter-label-mobile-layout--margin-top;
        align-self: flex-start;
    }
}