/* *
/* This file includes the styles used Customize Component Modal
/* (which can accessed on hovering over components either from the combined view or customize panel view)
*/

@perso-customize-component__title--font-size: 16px;
@perso-customize-component__modal-names--padding: 2px;
.perso-customize-component {
    font-size: @perso__default-text--font-size;
}

.perso-customize-component__select2-container {
    margin-bottom: @perso-gutter;
    display: block;
    .select2-result-label {
        font-weight: @font-weight-bold;
    }
}

.perso-customize-component__title-layout__letter-block {
    padding-right: @perso-gutter;
}

.perso-customize-component__title-layout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: @perso-customize-component__title--font-size;
    padding-bottom: @perso-gutter;
    border-bottom: 1px solid @border-color-light-grey;
}

.perso-customize-component__title-layout__cust-name {
    font-weight: @font-weight-bold;
    max-width: 30%;
    padding-right: @perso-customize-component__modal-names--padding;
}

.perso-customize-component__title-layout__target-group-name {
    max-width: 62%;
    padding-left: @perso-customize-component__modal-names--padding;
}

.perso-customize-component__data-list {
    padding-top: @perso-gutter;
}

.perso-customize-component__select-group-label-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perso-customize-component__filter-layout {
    display: flex;
    justify-content: flex-end;
}

.perso-customize-component__filter-label {
    align-self: center;
    margin-bottom: 0;
}