/* *
/* This file includes the styles used in Manage Customization Library modal
*/

@perso-library--font-size: 16px;
@perso-library__header--font-size: 20px;
@perso-library__header--font-weight: 300;
@perso-library__search-icon--font-size: 30px;
@perso-library__y-tree__mobile-more-menu--padding-top: 0.5*@perso-gutter; //10px
@perso-library__add-button--margin-top: 0.75*@perso-gutter; //15px
@perso-library__add-button--padding-right: 0.25*@perso-gutter;  //5px
@perso-library__search-form--padding-left: 0.25*@perso-gutter;  //5px
@perso-library__search-form--padding-bottom: 12px;
@perso-library__scroll-zone-area--height: 90vh;
@perso-library__cc-icon-position--margin-left: -7px;
@perso-library__angular-ui-tree-drag__child-row--margin-left: -0.5*@perso-gutter;   //-10px
@perso-library__mobile-layout--padding: 0.75*@perso-gutter; //15px;
@perso-library__number-data--mobile-margin-bottom: 0.5*@perso-gutter;   //10px
@perso-library__tree-head--font-size: 13px;
.perso-library {
    font-size: @perso-library--font-size;
    .modal-header h4 {
        text-align: center;
        margin: 0 auto 0 auto; //to center it
    }
    .modal-header {
        border: none;
        padding-right: 0;
    }
    .modal-body {
        padding-top: 0;
    }
    .hyicon {
        font-family: inherit;
    }
    .y-tree .category-toggle {
        margin: 0;
    }
    .ySEPanelSpinner {
        display: block;
        text-align: center;
    }
    .tree-head {
        word-wrap: break-word;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
}

.tree-head__col--md, .y-tree__col--md {
    width: 20%;
}

.tree-head__col--sm, .y-tree__col--sm {
    width: 15%;
}

.tree-head__col--xs, .y-tree__col--xs {
    width: 10%;
    text-align: center;
}

.tree-head__col--lg, .y-tree__col--lg {
    width: 30%;
}

.y-tree__col--xl {
    width: 40%;
}

.perso-library__y-tree {
    & * {
        transition: none;
    }
    .mobile-more-menu {
        padding-top: @perso-library__y-tree__mobile-more-menu--padding-top;
    }
    .angular-ui-tree-handle {
        color: @text-color-dark-blue;
        min-height: inherit;
    }
    .angular-ui-tree-nodes .angular-ui-tree-nodes {
        padding-left: 0;
    }
    .desktop-layout, .mobile-layout {
        display: flex;
        justify-content: space-between; //3 elements: the arrow, the drag area row, the more menu
    }
    .perso__cc-icon {
        margin-left: @perso-library__cc-icon-position--margin-left;
    }
}

.y-tree-header--fixed {
    position: fixed;
    top: 80px;
    width: 96%;
    z-index: 999;
    background-color: @background-color-light-grey1;
}

.perso-library__header {
    color: @text-color-grey;
    text-align: center;
    font-size: @perso-library__header--font-size;
    font-weight: @perso-library__header--font-weight;
    padding-top: 0;
    text-transform: capitalize;
}

.perso-library__add-button {
    margin-top: @perso-library__add-button--margin-top;
    .hyicon:before {
        padding-right: @perso-library__add-button--padding-right
    }
}

.perso-library__search {
    margin: 2em auto .5em auto;
    color: @text-color-dark-blue;
    .form-control {
        padding-left: @perso-library__search-form--padding-left;
        padding-bottom: @perso-library__search-form--padding-bottom;
        font-size: @perso__default-text--font-size;
        border-left: none;
        box-shadow: none;
        border-right: none;
        // ie/edge fix for the extra reset x when the user starts typing
        &::-ms-clear {
            display: none;
        }
    }
}

.perso-library__search-input:focus {
    border-bottom: 1px solid @border-color-light-grey; //focus and not on focus should be the same
    border-top: 1px solid @border-color-light-grey;
}

.perso-library__search-icon {
    border-right: none;
    border-radius: 0;
    top: 0;
    background-color: @background-color-white;
    font-size: @perso-library__search-icon--font-size;
    padding: 0 0 4px 6px; //consistent with page list
}

.perso-library__search-results {
    text-align: center;
    color: @text-color-grey;
    font-style: italic;
}

.perso-library__search-results--fixed {
    position: fixed;
    top: 90px;
    width: 96%;
    margin: 0 auto .5em auto;
    text-align: center;
    color: @text-color-grey;
    font-style: italic;
    z-index: 1000;
    background-color: @background-color-light-grey1;
}

.perso-library__scroll-zone {
    height: @perso-library__scroll-zone-area--height;
    overflow-y: scroll;
}

.perso-library__back-to-top-button {
    position: absolute;
    bottom: 30px;
    right: 15px;
}

.perso-library__primary-data {
    &:extend(.perso-list__primary-data);
}

.perso-library__status-value {
    &:extend(.perso-list__status--value);
}

.perso-library__dates-value {
    &:extend(.perso-list__dates-layout);
}

.y-tree-row__angular-ui-tree-handle {
    color: @text-color-dark-blue;
    border: none;
    min-height: inherit;
    font-weight: @font-weight-normal;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    width: 96%;
    &:hover {
        background-color: transparent;
    }
}

.y-tree-row__angular-ui-tree-handle--mobile {
    color: @text-color-dark-blue;
    border: none;
    min-height: inherit;
    font-weight: @font-weight-normal;
    background-color: transparent;
    width: 96%;
    &:hover {
        background-color: transparent;
    }
}

.perso-library__tree-head--mobile {
    font-size: @perso-library__tree-head--font-size;
    font-weight: @font-weight-bold;
    text-transform: uppercase;
    color: @light-blue-grey;
}

.y-tree__col-xl--mobile {
    width: 90%;
}

.perso-library__number-data--mobile {
    margin-bottom: 10px;
}

.perso-library__angular-ui-tree-drag {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: @perso-library--font-size;
    font-weight: inherit;
    color: @text-color-dark-blue;
    background-color: @white;
    .dropdown-toggle, .category-toggle {
        padding: 0;
    }
    .desktop-layout {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px 10px 15px;
        border: 1px solid @background-color-light-grey1;
        margin-top: -1px;
    }
    .mobile-layout {
        display: flex;
        justify-content: space-between;
        border: 1px solid @background-color-light-grey1;
        margin-top: -1px;
        padding: @perso-library__mobile-layout--padding;
        position: relative;
    }
    .mobile-more-menu {
        position: absolute;
        right: 0;
        top: 0;
        padding: @perso-gutter;
    }
    .child-row .desktop-layout, .child-row .mobile-layout {    
        margin-left: @perso-library__angular-ui-tree-drag__child-row--margin-left;
        border-left: none;
    }
    .perso-library__primary-data {
        font-weight: @font-weight-semibold;
    }
    .mobile-data {
        padding-bottom: @perso-gutter;
    }
    .perso-library__number-data--mobile {
        margin-bottom: @perso-library__number-data--mobile-margin-bottom;
    }

    .perso-library__tree-head--mobile {
        font-size: @perso-library__tree-head--font-size;
        font-weight: @font-weight-bold;
        text-transform: uppercase;
        color: @light-blue-grey;
    }
    .perso__cc-icon {
        vertical-align: middle;
        margin-left: @perso-library__cc-icon-position--margin-left;;
    }
}

@media (max-width: 1400px) {
    .tree-head__col--md, .y-tree__col--md {
        text-align: center;
    }
    .y-tree-header--fixed, .perso-library__search-results--fixed {
         width: 94%;
    }
}

@media (max-width: 1600px) {
   .y-tree__col--lg, .y-tree__col--xl {
        padding-left: 1%;
    }
}

//IE specific - have smaller height in IE10+, otherwise infinite scroll does not look great
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .perso-library__scroll-zone {
        height: 65vh;
    }
}

//Firefox specific - scrollbar issues
@media (min--moz-device-pixel-ratio: 0) {
    .perso__scrollbar--hidden {
        overflow-y: auto;   //FF - display the scrollbar only when needed
    }

    .perso-library__scroll-zone {
        height: 80vh;    //to solve some use cases with double scrollbar
    }
}