/* *
/* This file includes the styles used in Combined View Ranking
*/
@pe-component-info__icon--padding-left: 0.5*@perso-gutter; //10px
@pe-component-info--margin: -0.5*@perso-gutter;   //-10px
@pe-component-info--padding: 0.75*@perso-gutter @perso-gutter;   //15px 20px

.pe-component-info {
    font-size: @perso__default-text--font-size;     //15px
    color: @text-color-dark-blue;
    width: @pe-contextual-menu-template--width;
    border: 1px solid @smartedit-grey13;
    border-top: none;
    border-left: none;
    margin: @pe-component-info--margin;     
    box-sizing: content-box;
    box-shadow: 0 8px 12px fade(@black, 17.5%);     //consistency with SE, shared slot template
}

.pe-component-info__info-layout {
    padding: @pe-component-info--padding;
    border-bottom: 1px solid @border-color-light-grey;
}

.pe-component-info__title {
    font-size: @perso-panel__title--font-size;
    font-weight: @font-weight-semibold;
}

.pe-component-info__wrapper {
    max-height: @perso-panel--height;
    overflow-x: hidden;
}

.pe-component-info__list-item {
    border-bottom: 1px solid @border-color-light-grey; 
    padding: @pe-component-info--padding;
    display: flex;
    justify-content: flex-start;
}

.pe-component-info__names-layout {
    //IE11 is happy with %
    width: 90%;
}

.pe-component-info__vname {       
    //aligned with combined view panel
    font-weight: @font-weight-semibold;
    text-transform: uppercase;
}

.pe-component-info__icon {
    width: 5%;
    align-self: center;
    padding-left: @pe-component-info__icon--padding-left;
    .tooltip {
        opacity: @opacity_one;
        width: 50%;
        border-bottom: none;
        background: transparent;
    }
    .tooltip-inner {
        padding: @techne__tooltip-inner--padding;   //10px
        font-size: @techne__tooltip-inner--font-size;   //14px
        text-align: left;
        border-radius: 0;
    }
}

//spinner specific, overwriting what's inside #smarteditoverlay
.pe-component-info .ySEPanelSpinner {
    display: block !important;
    text-align: center;
}

.pe-component-info .ySESpinner {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.pe-component-info .panel {
    margin-bottom: 0 !important;
}