/* *
/* This file includes the styles used in Customize Panel general layout (for the search, filter)
*/

@pe-customize-panel__filter-label-layout--padding: 0.25*@perso-gutter 0.5*@perso-gutter 0.25*@perso-gutter 1.25*@perso-gutter;  //5px 10px 5px 25px;
@pe-customize-panel__search-layout--padding: 0.75*@perso-gutter 1.25*@perso-gutter;     //15px 25px;

.pe-customize-panel__wrapper {
    max-height: @perso-panel--height;
    overflow-x: hidden;
}

.pe-customize-panel__filter-label-layout {
    display: flex;
    justify-content: flex-start;
    padding: @pe-customize-panel__filter-label-layout--padding;
    border-bottom: 1px solid @border-color-light-grey;
}

.pe-customize-panel__filter-label {
    align-self: center;
    margin-bottom: 0;
}

.pe-customize-panel__filter-layout {
    display: flex;
    justify-content: space-between;
}

.pe-customize-panel__search-layout {
    display: flex;
    justify-content: space-around;
    padding: @pe-customize-panel__search-layout--padding;
    border-bottom: 1px solid @border-color-light-grey;
}