/* *
* Let's put here all the css hacks and document what we fixed
* From time to time (every release?) would be nice to come back to this file and try to clean it up
* Don't feel bad from the name, it is a common practice ;)
* More here: https://csswizardry.com/2013/04/shame-css/
*/

// In the multi-segments feature, the container buttons are slightly misaliged in IE10+ and Firefox
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (min--moz-device-pixel-ratio: 0) {
    .perso-tree__btn {
        padding-top: 12px;
    }
}
