@se-toolbar-menu-content--pe-customized__headers--padding: 0.5*@perso-gutter 0 @perso-gutter 1.25*@perso-gutter;    //10px 0 20px 25px
@se-toolbar-menu-content--pe-customized__item--padding: 1.5*@perso-gutter 0 1.5*@perso-gutter 1.25*@perso-gutter;   //30px 0 30px 25px
@se-toolbar-menu-content__y-help--padding: 0.25*@perso-gutter 0.75*@perso-gutter 0 0.75*@perso-gutter;  //5px 15px 0 15px;

.se-toolbar-menu-content--pe-customized {
    max-width: @se-toolbar-menu-content--pe-customized-width;
    word-wrap: break-word;
    overflow-wrap: break-word;
    top: inherit;
    overflow-y: hidden;
}

.se-toolbar-menu-content--pe-customized-customizations-panel {
    max-width: @se-toolbar-menu-content--width;
    word-wrap: break-word;
    overflow-wrap: break-word;
    top: inherit;
    overflow-y: hidden;
}

.se-toolbar-menu-content--pe-customized__item {
    padding: @se-toolbar-menu-content--pe-customized__item--padding;
    overflow: hidden;
    border-top: 1px solid @border-color-light-grey;
}

.se-toolbar-menu-content--pe-customized__item__link {
    font-size: @perso__default-text--font-size;
    font-weight: @font-weight-semibold;
    &:hover, &:focus {
        text-decoration: none;
        color: @blue;
    }
}

.se-toolbar-menu-content--pe-customized__headers {
    color: @background-color-white;
    background-color: @background-color-blue;
    display: flex;
    justify-content: flex-start;
    padding: @se-toolbar-menu-content--pe-customized__headers--padding;
}

.se-toolbar-menu-content--pe-customized__headers--h2 {
    font-size: @perso-panel__title--font-size;
    font-weight: @font-weight-normal;
}

.se-toolbar-menu-content__y-help {
    align-self: center;
    padding: @se-toolbar-menu-content__y-help--padding;
}

.se-toolbar-menu-content__y-help .hyicon-help-icon {
    color: @background-color-white;
}