
/****************************************************
				yCollapsibleContainer
****************************************************/
.yCollapsibleContainer__header {
	display: flex;
	border-bottom: 1px solid @smartedit-grey22;
	min-height: 1em;
	max-width: 100%;
}

.yCollapsibleContainer__title {
	flex: 1;
}

.yCollapsibleContainer__title:hover,
.yCollapsibleContainer__title:focus {
	text-decoration: none;
}

.yCollapsibleContainer__icon {
	flex: 0;
}

.y-collapsible-icon--collapse:before {
	transform: rotate(270deg);
	transition: all .5s ease;
	font-size: 40px;
}

.y-collapsible-icon--expand:before {
	transform: rotate(90deg);
	transition: all .5s ease;
	font-size: 40px;
}

.y-collapsible__content {
	overflow: auto;
}

.yCollapsibleContainer__icon {
	display: none;
}

//to be reviewed - reduce specificity
// icon left
.icon-left .yCollapsibleContainer__icon {
	display: table;
	order: 1;
}

.icon-left .yCollapsibleContainer__title {
	order: 2;
}

// icon right
.icon-right .yCollapsibleContainer__icon {
	display: table;
	order: 2;
}

.icon-right .yCollapsibleContainer__title {
	order: 1;
}

.icon-left .yCollapsibleContainer__icon,
.icon-right .yCollapsibleContainer__icon {
	display: table;
}

//overwrite panel border
.yCollapsibleContainer__group.panel {
	border: 0;
}