
/****************************************************
				genericeditor
****************************************************/
@import (reference) "node_modules/bootstrap/less/bootstrap.less";
@import (reference) "node_modules/bootstrap/less/responsive-utilities.less";
@import (reference) "node_modules/bootstrap/less/utilities.less";
@import (reference) "node_modules/bootstrap/less/variables.less";

@modal-body--min-height: 400px;
@modal-body--padding: .4*@smartedit-gutter @smartedit-gutter;

@experience-selector-btn--padding-bottom: 7px;

#experience-selector-btn {
	font-family: "Open Sans", sans-serif;
}

.ySEGenericEditor {
	.clearfix();
	padding: 0;
}

.ySErow {
	padding-bottom: @grid-gutter-width;
}

localized-element {

	.nav-tabs > li {
		border-top: 1px solid @smartedit-grey30;
		border-bottom: 1px solid @smartedit-grey30;
		border-left: 1px solid @smartedit-grey30;
		font-weight: bold;
	}

	.nav-tabs > li:last-of-type {
		border-right: 1px solid @smartedit-grey30;
	}

	.nav-tabs > li.active {
		background-color: @smartedit-blue;
		border-color: @smartedit-blue;
		a {
			color: @smartedit-white;
		}
		a.sm-tab-error {
			color: @smartedit-red3;
		}
	}

	ul.nav-tabs > .dropdown {
		ul > li {
			background-color: @smartedit-white;
			a {
				color: @smartedit-blue;
			}
		}

		a.sm-tab-error {
			color: @smartedit-red3;
		}
	}

	&.multi-tabs-editor * {
		transition: none;
	}
}

.ySErow {
	.make-row();
}

generic-editor-field input.form-control {
	border-radius: 0;
}

generic-editor form label {
	font-family: @font-open-sans;
	font-size: 13px;
	font-weight: bold;
}

generic-editor-field .ySEField .ySEFieldPrefix {
	padding-bottom: 10px;
}

generic-editor-field .ySEField .ySEFieldPostfix {
	padding-top: 20px;
}



.yWebsiteSelectBtn--arrow {
	font-size: 17px;
}

.ySEpreview.open .yDdResolution {
	border-top: @smartedit-border4;
}

.mce-content-body {
	padding-top: 0;
}

.ySEBooleanField__text {
	display: inline-block;
	margin-bottom: 0;
}

.ySEBooleanField .y-toggle {
	display: table;
}

.ySEBooleanField__text {
	line-height: 42px;
}

.se-date-field {
	width: 100%;
}

.se-date-field--input {
	&.se-input--is-disabled {
		border-right: 1px solid @smartedit-grey17;
		border-radius: 0;
	}
	.ySmartEditTitleToolbar & + .bootstrap-datetimepicker-widget {
		background-color: @smartedit-white;
		color: @smartedit-black; //IE
		color: initial;
	}
	box-shadow: none;
	border-right: none;
}

.se-date-field--button-icon {
	font-size: 1.1em;
}

.bootstrap-datetimepicker-widget,
.se-date-field--input:focus {
	+ .se-date-field--button {
		border-right: 1px solid @smartedit-blue13;
		border-top: 1px solid @smartedit-blue13;
		border-bottom: 1px solid @smartedit-blue13;
		box-shadow: inset 0 1px 1px fade(@smartedit-black, 7.5%), 0 0 8px fade(@smartedit-blue13, 60%);
	}
}

.se-date-field--button {
	box-shadow: none;
	background-color: @smartedit-white;
	color: @smartedit-lightblue;
	border-bottom: 1px solid @smartedit-grey17;
	border-top: 1px solid @smartedit-grey17;
	margin-top: 0;
	border-radius: 0;
	cursor: pointer;
	&.se-date-field--button-has-warning {
		border-right: 1px solid @smartedit-orange;
		border-top: 1px solid @smartedit-orange;
		border-bottom: 1px solid @smartedit-orange;
	}
	&.se-date-field--button-has-error {
		border-right: 1px solid @smartedit-red;
		border-top: 1px solid @smartedit-red;
		border-bottom: 1px solid @smartedit-red;
	}
}

.se-link-toggle__radio {
	display: inline-block;
	margin-right: .4*@smartedit-gutter;
}

.se-input--has-warning {
	border-color: @smartedit-orange;
}

.se-input--has-error {
	border-color: @smartedit-red;
}

.error-input,
.se-input--has-error,
.se-help-block--has-error {
	color: @smartedit-red;
}


/****************************************************
				media-upload
****************************************************/
@media-selector--preview--margin: .5*@smartedit-gutter 0 .2*@smartedit-gutter .3*@smartedit-gutter;
@se-media-printer--code--width: 172px;
@se-media-printer--code--padding: .2*@smartedit-gutter 0 .2*@smartedit-gutter .2*@smartedit-gutter;

.label__fileUpload {
	font-family: @font-open-sans;
	font-size: 15px;
	font-weight: @font-weight--semibold;
	color: @smartedit-blue;
	top: 0;
}

.seFileSelector {
	padding-top: 10px;
}

.btn__fileSelector {
	padding-left: 0;
}

.label__fileUpload {
	padding-left: .3em;
}

.btn__fileSelector:hover,
.btn__fileSelector:focus {
	cursor: pointer;
}

.file-selector-disabled .label__fileUpload {
	color: @smartedit-grey14;
}

.file-selector-disabled .btn__fileSelector:hover,
.file-selector-disabled .btn__fileSelector:focus {
	cursor: default;
}

.se-media-upload-form--toolbar {
	padding-left: 0;
	padding-right: 0;
	background-color: @smartedit-grey5;
	border-bottom: @smartedit-border2;
	border-left: @smartedit-border2;
	border-right: @smartedit-border2;
}

.se-media-upload-form--toolbar--buttons {
	margin-right: 0;
}

.se-media-upload-btn__cancel,
.se-media-upload-btn__submit {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

.se-media-upload--fileinfo {
	border-bottom: @smartedit-border2;
	border-left: @smartedit-border2;
	border-right: @smartedit-border2;
	padding-top: 30px;
	.make-row(@gutter: 0);
}

.se-media-upload--fileinfo--field {
	.make-xs-column(6, @gutter: 0);
	padding-left: (1/2*@smartedit-gutter);
	padding-right: (1/2*@smartedit-gutter);
}

.se-mu--fileinfo--field--input,
.se-mu--fileinfo--wrapper {
	border-width: 0;
	padding: 0;
	background-color: transparent;
	box-shadow: none;
}

.se-mu--fileinfo--field--input {
	width: 100%;
}

.se-mu--fileinfo--wrapper-col1 {
	padding-right: 0;
}

.se-mu--fileinfo--wrapper-col2 {
	padding-left: 5px;
}

.se-mu--fileinfo--field--icon {
	vertical-align: top;
	padding: 2px 2px 3px 2px;
}

.se-mu--fileinfo--field--icon__error {
	vertical-align: top;
	padding: 4px;
}

.se-mu--fileinfo--wrapper:hover .se-mu--fileinfo--field--input,
.se-mu--fileinfo--wrapper:hover .se-mu--fileinfo--field--icon {
	background-color: @smartedit-grey5;
}

.se-media-upload--fn--name {
	display: inline-block;
}

.se-media-upload--filename-col1 {
	.text-left();
	padding-left: (1/2*@smartedit-gutter);
	margin-top: 25px;
	margin-bottom: 20px;
}

.se-media-upload--filename-col2 {
	.text-right();
	margin-top: 20px;
	margin-bottom: 20px;
}

.se-media-upload--fn--name {
	display: inline-block;
}

.se-media-upload-form--toolbar--title {
	padding-left: (1/2*@smartedit-gutter);
}

.se-media-upload-form--toolbar--title--h4 {
	font-size: 18px;
	font-family: @font-open-sans;
	color: @smartedit-grey7;
	font-weight: @font-weight--semibold;
	margin-top: 20px;
}

.se-media-upload--filename {
	border-bottom: @smartedit-border2;
	border-left: @smartedit-border2;
	border-right: @smartedit-border2;
}

.label__fileUpload {
	font-size: 16px;
	font-family: @font-open-sans;
}

.se-mu--fileinfo--field--input {
	font-size: 15px;
	font-family: @font-open-sans;
	color: @smartedit-grey7;
}

.se-media-upload-btn__submit,
.se-media-upload-btn__cancel {
	font-family: @font-open-sans;
	font-weight: @font-weight--light;
	padding-top: 20px;
	padding-bottom: 20px;
}

.se-media-upload--fn--name {
	padding-left: 5px;
}

.upload-field-error,
.se-media-upload-has-error {
	color: @smartedit-error;
}

.se-mu--fileinfo--field__error {
	border: 1px solid @smartedit-error;
}

.se-mu--fileinfo--field--icon__error {
	background-color: @smartedit-error;
}

.media-selector--preview__right {
	display: block;
	margin-right: 0;
	margin-left: auto;
	text-align: right;
}

.media-advanced-information,
.media-selector--preview__right {
	font-family: @font-open-sans;
	font-size: 16px;
	font-weight: @font-weight--medium;
	color: @smartedit-blue2;
}

.media-selector--preview__right {
	padding-top: 5px;
	padding-bottom: 5px;
}

.media-advanced-information {
	padding-bottom: 0;
	padding-top: 0;
}

.media-selector--preview__right.remove-image {
	color: @smartedit-red1;
}

.media-selector--preview__right--p {
	display: inline-block;
	margin: 0;
}

.media-selector--preview--icon {
	padding-left: 10px;
}

.media-selector--preview {
	margin: @media-selector--preview--margin;
}

.se-media-printer--code {
	width: @se-media-printer--code--width;
	padding: 10px 0 10px 10px;
}

.media-preview-icon {
	background-color: @smartedit-blue3;
	color: @smartedit-white;
	font-weight: @font-weight--bold;
	position: absolute;
	top: 0;
	left: 15px;
	font-size: 37px;
}

.thumbnail--image-preview {
	max-width: 168px;
	max-height: 108px;
	border: none;
	border-radius: 0;
	padding: 0;
	margin-bottom: 0;
}

.media-preview-code {
	display: block;
	text-align: left;
	width: @se-media-printer--code--width;
	background-color: @smartedit-grey8;
	padding-left: 10px;
	font-family: @font-open-sans;
	font-weight: @font-weight--semibold;
	font-size: 14px;
	font-style: italic;
	overflow: hidden;
	text-overflow: ellipsis;
}

.se-adv-media-info {
	color: @smartedit-white;
	font-family: @font-open-sans;
	font-size: 15px;
	font-weight: @font-weight--semibold;
}

.preview-image {
	max-width: 400px;
	margin: -21px;
	padding: .4*@smartedit-gutter;
	background-color: @smartedit-white;
}

.ui-select-choices-row-inner img.thumbnail {
	max-width: 200px;
}

se-media-preview {
	position: absolute;
	left: 136px;
}

.se-adv-media-info--data {
	display: block;
}

se-media-advanced-properties a:hover,
se-media-advanced-properties a:active,
se-media-advanced-properties .btn:active,
se-media-advanced-properties a:focus,
.media-selector--preview__right:hover,
.media-selector--preview__right:active,
.media-selector--preview__right:focus {
	box-shadow: initial;
}

.ySEMediaSearchImage {
	overflow: hidden;

	img {
		max-width: 100%;
		padding: 10px;
		height: auto;
	}
}