
/****************************************************
				Infinite Scrolling
****************************************************/
.ySEInfiniteScrolling-container {
  overflow-y: scroll;
  max-height: 200px
}

.ySEInfiniteScrolling {
  overflow-y: hidden;
}

.panel__ySEInfiniteScrolling {
  border: none;
  margin-bottom: 0;
  background: none;
}
