/****************************************************
				landing-page
****************************************************/
.se-landing-page {
	margin-top: 2.6*@smartedit-gutter;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.se-landing-page-title {
	font-family: @font-open-sans;
	font-size: 28px;
	color: @smartedit-grey9;
	font-weight: @font-weight--medium;
	margin-bottom: .5*@smartedit-gutter;
}

.se-landing-page-site-selection {
	width: 600px;
}

.se-landing-page-label {
	font-size: 18px;
	font-weight: @font-weight--normal;
	color: @smartedit-grey3;
	margin-top: .5*@smartedit-gutter;
	margin-bottom: .5*@smartedit-gutter;
}

.se-landing-page-catalogs {
	width: 100%;
}

.se-landing-page-catalog {
	margin: .2*@smartedit-gutter @smartedit-gutter;
}

/****************************************************
		landing-page catalog selection
****************************************************/

.se-catalog-for-current-site {
	border-top: 5px solid @smartedit-blue;
}

.se-catalog-version-container {
	display: flex;
	border-bottom: 1px solid @smartedit-grey13;
	margin-top: .4*@smartedit-gutter;
}

.se-catalog-version-container__left {
	justify-content: flex-start;
	width: 60%;
}

.se-active-catalog-version-container__thumbnail {
	width: 100%;
	margin: 0;
	height: 250px;
	position: relative;

	&:hover {
		cursor: pointer;
	}
}

.se-active-catalog-version-container__name::after {
	content: ' \276F';
}

.se-active-catalog-version-container__name {
	width: 100%;
	padding: 10px 0 10px 20px;
	opacity: 0.7;
	background-color: @black;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: @font-roboto;
	color: @white;
	font-size: 18px;
	text-transform: uppercase;
}

.se-catalog-version-container__right {
	//justify-content: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
}

//to be reviewed
.se-active-catalog-version-container__thumbnail__default-img {
	background: url('../../../../static-resources/images/icon_site_placeholder.jpg');
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-size: cover;
	border: 1px solid @default-greyblue-200;

}

.se-active-catalog-version-container__thumbnail__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
}

.se-catalog-details__content {
	display: flex;
	margin: .4*@smartedit-gutter;
}

.se-catalog-details__header {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: @font-weight--bold;
	color: @smartedit-grey7;
	padding: .4*@smartedit-gutter;
}

.se-catalog-details__panel--left {
	justify-content: flex-start;
	width: 30%;
}

.se-catalog-details__panel--right {
	justify-content: flex-end;
	margin-left: .4*@smartedit-gutter;
	width: 70%;
}

.se-catalog-version-container__left__templates,
.se-catalog-version-container__left__template {
	display: flex;
	justify-content: flex-start;
}

.se-catalog-version-container__divider::after {
	content: "|"
}

.se-catalog-version-container__divider {
	margin-left: .2*@smartedit-gutter;
	margin-right: .2*@smartedit-gutter;
}

.se-catalog-version-container__name {
	font-size: 18px;
	font-weight: @font-weight--bold;
	text-transform: uppercase;
}

.se-catalog-version-container__left__templates {
	margin: .2*@smartedit-gutter 0;
}

.se-catalog-version__link {
	font-size: 15px;
	font-weight: @font-weight--semibold;
	text-transform: uppercase;
}

.se-catalog-divider {
	display: flex;
	justify-content: center;
	margin-top: -.2*@smartedit-gutter;
}
