

/****************************************************
				iframe
****************************************************/
#js_iFrameWrapper {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0;
	padding-top: 130px; // default offset for the storefront. It will be overwritten with jQuery at runtime in smarteditcontainer.js
	overflow: hidden;
}

/* -- end */

/*override of bootstrap css*/
#ySmartEditFrame {
	box-sizing: content-box;
	border: none;
}
#ySmartEditFrameDragArea {
	display: none;
	position: absolute;
	opacity: 0;
}

/****************************************************
				ie
****************************************************/
.ySEPageRestr-search__input::-ms-clear,
.ySECompSearchField::-ms-clear,
.ySEPage-list-search-input::-ms-clear {
	display: none;
	width: 0;
	height: 0;

}

a.nav-close:hover,
a.nav-close:active {
	text-decoration: none;
}

.modal-wizard-template-step__action__disabled,
.modal-wizard-template-step__action__disabled:hover,
.modal-wizard-template-step__action__disabled:active {
	background-color: @smartedit-white;
}
