
/****************************************************
				wizards
****************************************************/
.modal-wizard-template-step {
	display: inline-block;
}

.btn.modal-wizard-template-step__action {
	font-family: @font-open-sans;
	font-size: 15px;
	background-color: initial;
	margin-bottom: -1px;
	opacity: 1;
}

.modal-wizard-template-step__action__enabled,
.modal-wizard-template-step__action__enabled:hover,
.modal-wizard-template-step__action__enabled:active,
.modal-wizard-template-step__action__enabled:focus {
	font-weight: @font-weight--semibold;
	color: @smartedit-blue;
	border-width: 0 0 @nav-tabs-border-width-bottom;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.modal-wizard-template-step__action__disabled,
.modal-wizard-template-step__action__disabled:hover,
.modal-wizard-template-step__action__disabled:active,
.modal-wizard-template-step__action__disabled:focus {
	font-weight: @font-weight--normal;
	color: @smartedit-grey16;
	border-width: 0 0 @nav-tabs-border-width-bottom;

	transition: background 0.1s ease-out, border 0.1s ease-out;
	text-transform: uppercase;
	border-radius: 0;
	border-color: transparent;
	box-shadow: none;
}

.modal-wizard-template__steps {
	border-bottom: 1px solid @smartedit-grey17;
}

.modal-wizard-template-step__glyph-enabled {
	color: @smartedit-blue;
	background-image: url('../../../images/arrow_right_active.png');
	background-repeat: no-repeat;
}

.modal-wizard-template-step__glyph-disabled {
	color: @smartedit-grey16;
	background-image: url('../../../images/arrow_right_inactive.png');
	background-repeat: no-repeat;
}

.modal-wizard-template-step__glyph-enabled,
.modal-wizard-template-step__glyph-disabled {
	width: 12px;
	height: 22px;
	vertical-align: middle;
	display: inline-block;
}

.modal-wizard-template-step__action__current,
.modal-wizard-template-step__action__current:hover,
.modal-wizard-template-step__action__current:focus {
	border-bottom-style: solid;
	border-width: 0 0 @nav-tabs-border-width-bottom;
	border-color: @nav-tabs-active-link-hover-border-color;
}

.modal-wizard-template-content {
	margin-top: 30px;
}


.modal-dialog .modal-body {
	padding: @modal-body--padding;
}

//not applied for confirmation modals
.modal:not(.yFrontModal) .modal-body {
	min-height: @modal-body--min-height;
}