
/****************************************************
				client-paged-list
****************************************************/
// UI Client Paged list directive

.paged-list-count {
	//text-align: center;
	margin-bottom: 0;
	margin-left: 1em;

	font-family: @font-open-sans;
	font-size: 16px;
	color: @smartedit-grey3;
	font-style: italic;
}

.paged-list-table {
	margin: 0 auto @smartedit-gutter;

	.paged-list-header {
		position: relative;
	}

	.header-icon {

		&.down {

			&:after {
				content: '\2193';
			}

		}

		&.up {

			&:after {
				content: '\2191'
			}

		}

	}

	.paged-list-item {
		cursor: default;
		&:hover {
			cursor: default;
		}
	}

	.paged-list-item td {
		vertical-align: middle;
		cursor: default;
		&:hover {
			cursor: default;
		}
	}

	.paged-list-item-name, .paged-list-item-title {
		font-size: 1em;
		color: @smartedit-blue;
		font-weight: bolder;
	}

}

.se-trashed-pages .paged-list-item-name {
	color: @smartedit-grey7;
}



/****************************************************
				page-list
****************************************************/

// CMS Page list styles
@page-list-search--margin: 1em;

.pageListWrapper {
	min-height: 100%;
	padding-top: 110px;
	padding-left: @smartedit-gutter;
	padding-right: @smartedit-gutter;
}

.se-page-list__title {
	font-family: @font-open-sans;
	color: @smartedit-grey9;
	font-size: 28px;
	font-weight: @font-weight--medium;
	text-align: center;
	text-transform: capitalize;
}

.se-page-list__page-link-icon {
	font-size: 48px;
	line-height: 0;
	color: @smartedit-blue;
}

.se-page-list__page-link {
	position: absolute;
	top: -8px;
	font-size: 15px;
	font-weight: @font-weight--semibold;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.se-page-list__page-link--left {
	left: 0;
}

.se-page-list__page-link--right {
	right: 0;
}

.se-page-list__header {
	position: relative;
}

.se-page-list__sub-title {
	font-family: @font-open-sans;
	color: @smartedit-grey3;
	font-size: 18px;
	font-weight: @font-weight--book;
	text-align: center;
	text-transform: uppercase;
}

.se-input-group.ySEPage-list-search {
	width: 50%;
	margin: @page-list-search--margin auto;
	font-family: @font-open-sans;
	font-size: 16px;
	color: @smartedit-grey4;
	border: @default-grey-700 1px solid;
}

.ySEPage-list-search-icon {
	position: relative;
	top: -4px;
	font-size: 30px;
}

.ySEPage-list-search-input.form-control {
	border-left: none;
	box-shadow: none;
	z-index: auto;
	padding-left: .1*@smartedit-gutter;
	padding-bottom: .24*@smartedit-gutter;
	border-radius: 0;
	border-right: none;
}

.ySEPage-list-search-input:focus {
	box-shadow: initial;
	border-color: @default-grey-700;
}

/****************************************************
				Page List Wizard
****************************************************/

.page-wizard-list {
	height: 311px;
	overflow: scroll;
	overflow-x: hidden;

	.page-wizard-list-item {
		padding-top: 1em;
		padding-bottom: 1em;
		border-top: 1px solid @smartedit-grey22;
		border-bottom: 1px solid @smartedit-grey22;

		.page-wizard-item-title {
			font-weight: bold;
			font-size: larger;
		}

		&.page-wizard-item-selected {
			background-color: @smartedit-grey22;
		}
	}
}

.page-wizard-type-item {
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid @smartedit-grey22;
	border-bottom: 1px solid @smartedit-grey22;

	.page-wizard-type-item-title {
		font-weight: bold;
		font-size: larger;
	}

	&.page-wizard-type-item-selected {
		background-color: @smartedit-grey22;
	}
}

.page-type-step-template__item__icon,
.page-type-step-template__item--info {
	display: inline-block;
}

.page-type-step-template__item {
	height: 85px;
	border-top: 1px solid @smartedit-grey6;
	display: flex;
	align-items: center;
}

.page-type-step-template:last-child {
	border-bottom: 1px solid @smartedit-grey6;;
}

.page-type-step-template__item__icon {
	font-size: 30px;
	padding-left: (@smartedit-gutter * .4);
	padding-right: 20px;
	padding-bottom: 10px;
	color: @smartedit-blue2;
	opacity: .15;
}

.page-type-step-template__item--info__title,
.page-type-step-template__item--info__description {
	font-family: @font-open-sans;
	color: @smartedit-grey7;
}

.page-type-step-template__item--info__title {
	font-size: 15px;
	font-weight: @font-weight--bold;
}

.page-type-step-template__item--info__description {
	font-size: 14px;
	font-weight: @font-weight--normal;
}

.page-type-step-template__item__selected {
	background-color: fade(@smartedit-blue2, 40%);
}

.page-type-step-template__item__selected .page-type-step-template__item__icon {
	opacity: 1;
}

.page-type-step-template__text {
	padding-bottom: 30px;
}

.paged-list-table.table-striped > tbody > tr:nth-of-type(even),
.paged-list-table.table-striped > thead > tr {
	background-color: @smartedit-grey10;
}

.paged-list-item .paged-list-table__body__td-menu {
	padding: 0;
}

.y-dropdown-more-menu__ddlb__icon {
	font-size: 20px;
}

.page-editor-basic-info__pagetype,
.page-editor-basic-info__p {
	color: @smartedit-grey3;
}

.page-editor-basic-info__pagetype {
	margin-top: 0;
}

.restrictionPageListIcon {
	width: 20px;
}

.page-type-step-template-list-search {
	margin-bottom: .2*@smartedit-gutter;
	border: 1px solid @default-grey-700;
}

.ySESearchIcon {
	background-color: @smartedit-white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	top: 0;
	font-size: large;
	color: @smartedit-grey3;
}

.ySESearchIcon.input-group-addon {
	border-radius: 0;
}


/****************************************************
				media-container
****************************************************/
.se-media-container-field {
	max-width: 798px;
	padding-right: 15px;
	border: 1px solid @smartedit-grey11;
	padding-left: 20px;
	padding-bottom: 20px;
}

se-media-format {
	padding-right: 0;
}

.media-present se-media-preview {
	line-height: 0.8;
}

.se-media-format-screentype {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 16px;
	font-family: @font-open-sans;
	font-size: 16px;
	font-weight: @font-weight--bold;
	color: @smartedit-grey7;
}

.se-media-format--code {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 178px;

}

se-media-advanced-properties-condensed {
	padding-top: (@smartedit-gutter/2);
	display: block;
}

.media-selector--preview--icon,
.media-selector--preview__left--p {
	display: inline-block;
}

.media-container-advanced-information,
.media-advanced-information--image,
.media-advanced-information--p {
	display: inline-block;
}

.media-advanced-information--p,
.media-selector--preview__left--p {
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	font-family: @font-open-sans;
	font-weight: @font-weight--medium;
	font-size: 15px;
	color: @smartedit-blue;
	margin-bottom: 0;
	padding-left: 10px;
	text-transform: uppercase;
}

.label__fileUpload {
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	font-family: @font-open-sans;
	font-weight: @font-weight--medium;
	font-size: 15px;
	color: @smartedit-blue;
	text-transform: uppercase;
}

.media-container-advanced-information {
	padding-left: 10px;
	&:hover, &:active {
		text-decoration: none;
	}
}

.media-selector--preview__left {
	padding-left: 0;
}

.media-selector--preview__left--p__error {
	color: @smartedit-red1;
}

.se-media-format-image-wrapper {
	width: 178px;
	height: 112px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid @smartedit-grey8;
}

.media-selector--preview__left {
	padding-bottom: 0;
}

.media-present-preview {
	margin-left: 10px;
}

.media-present {
	padding-bottom: (@smartedit-gutter/2);
}

.media-absent {
	height: 112px;
	border: 1px dashed @smartedit-grey13;
	background-color: @smartedit-grey12;
	display: flex;
	justify-content: center;
	align-items: center;
}

.media-is-under-edit {
	height: 112px;
	width: 178px;
	border: 2px solid @smartedit-blue;
	background-color: @smartedit-grey12;
	display: flex;
	justify-content: center;
	align-items: center;
}

.media-absent .img-upload,
.media-absent .label__fileUpload,
.media-is-under-edit .img-upload,
.media-is-under-edit .label__fileUpload {
	display: inline-block;
}

.media-absent .label__fileUpload,
.media-is-under-edit .label__fileUpload,
.media-format-present-replace .label__fileUpload {
	margin-bottom: 0;
}

.media-preview-under-edit {
	padding-bottom: 10px;
	padding-top: 10px;
	color: @smartedit-white;
	display: block;
	text-align: left;
	width: 178px;
	background-color: @smartedit-blue;
	padding-left: 10px;
	font-family: @font-open-sans;
	font-weight: @font-weight--semibold;
	font-size: 14px;
	font-style: italic;
	overflow: hidden;
	text-overflow: ellipsis;
}

se-media-container-field .se-media-upload-form {
	margin-right: -16px;
	margin-left: -21px;
}

.media-format-present-replace {
	padding-left: 10px;
}

.media-format-present-replace .label__fileUpload,
.media-format-present-replace .img-upload {
	display: inline-block;
}

.media-format-present-replace .label__fileUpload {
	padding: 0 0 0 10px;
}

.media-under-edit-parent,
.media-absent {
	margin-left: 10px;
}

se-media-format.se-media-container-cell {
	padding-left: 0;
	padding-right: 0;
	width: 194px;
}


/********************************************************
                    YDropdown Item
*********************************************************/

.se-dropdown-item {
	position: relative;
	display: block;
	padding: 10px 16px;
	clear: both;
	color: @dropdown-link-color;
	font-weight: normal;
	line-height: @line-height-base;
	white-space: nowrap;

	&:hover {
		background-color: @dropdown-link-hover-bg;
		color: @dropdown-link-hover-color;
		text-decoration: none;
	}

	.help-control {
		display: block;
		height: auto;
		margin: auto;
		padding: 0;
		width: 100%;
	}
}

.se-dropdown-item__disabled {
	color: @smartedit-grey35;
	&:hover,
	.se-dropdown-item--icon {
		color: @smartedit-grey35;
	}
}

.se-dropdown-item--label {
	display: block;
}

.se-dropdown-item--icon {
	position: absolute;
	color: @smartedit-grey4;
	top: 5px;
	font-size: 17px;
	+ .se-dropdown-item--label {
		margin-left: 30px;
	}
	&.hyicon-delete {
		top: 3px;
		font-size: 19px;
	}
}