@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

.yas-results-header {
    background: $searchResultBrowser__results-header--background;
    color: $searchResultBrowser__results-header--color;
    padding: $searchResultBrowser__results-header--padding;
    .z-label {
        font-size: $searchResultBrowser__results-header--font-size;
    }
}

.yas-results-body {
    width: $searchResultBrowser__result--width;
}

.yas-promoted-results {
    .yas-result {
        background: $searchResultBrowser__result-promoted--background;
    }
}

.yas-result {
    display: table;
    width: $searchResultBrowser__result--width;
    color: $searchResultBrowser__result--color;
    background-color: $searchResultBrowser__result--background;

    & + & {
        .yas-result-inner > div {
            border-top: $searchResultBrowser__result--border;
        }
    }

    &.z-drag-over {
        background-color: $searchResultBrowser__result-drag-over--background;
    }

    &.z-drag-ghost {
        width: $searchResultBrowser__result-drag-ghost--width;
        border: $searchResultBrowser__result-drag-ghost--border;
    }

    &-title {
        font-weight: $searchResultBrowser__result-title--font-weight;
        font-size: $searchResultBrowser__result-title--font-size;
    }
    &-price {
        font-weight: $searchResultBrowser__result-price--font-weight;
        font-size: $searchResultBrowser__result-price--font-size
    }

    .yas-info {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: $searchResultBrowser__result-info--width;

        .yas-info-icon {
            height: $searchResultBrowser__result-info-icon-md--size;
            width: $searchResultBrowser__result-info-icon-md--size;
            margin-left: $searchResultBrowser__result-info-icon---margin;
            margin-right: $searchResultBrowser__result-info-icon---margin;
            background-image: url(images/icon_func_star_sprite.png);
            background-repeat: no-repeat;
            background-position: $searchResultBrowser__result-info-icon-current--bg-position;
            background-attachment: scroll;
        }

        .yas-info-score {
            font-size: $searchResultBrowser__result-info-score--font-size;
        }
    }

    &.yas-promoted {
        .yas-info {
            .yas-info-icon {
                background-position: $searchResultBrowser__result-info-icon-inherit--bg-position;
            }
        }
    }
    &.yas-promoted.yas-current {
        .yas-info {
            .yas-info-icon {
                background-position: $searchResultBrowser__result-info-icon-current--bg-position;
            }
        }
    }

    &.yas-promoted.yas-current.yas-override {
        .yas-info {
            .yas-info-icon {
                width: $searchResultBrowser__result-info-icon-lg--width;
                height: $searchResultBrowser__result-info-icon-lg--height;
                background-position: $searchResultBrowser__result-info-icon-current-inherit--bg-position;
            }
        }
    }

    &-inner {
        display: table-row;

        .yas-content {
            display: table-cell;
            padding: $searchResultBrowser__result-content--padding;

            & > .z-hlayout > .z-hlayout-inner {
                vertical-align: middle;
            }
            & > .z-hlayout > .z-hlayout-inner:nth-child(2) {
                width: $searchResultBrowser__result-content--width;
            }
        }

        .yas-actions {
            display: table-cell;
            vertical-align: middle;
            width: $searchResultBrowser__result-actions--width;
            padding: $searchResultBrowser__result-actions--padding;

            .z-button {
                background: $searchResultBrowser__result-actions-button--background;
                color: $searchResultBrowser__result-actions-button--color;
                font-size: $searchResultBrowser__result-actions-button--font-size;

                &[disabled]{
                    background: transparent !important;
                }

                &:active, &:focus {
                    box-shadow: none;
                }
            }
        }
    }

   /* will probably be implemented
    &:not(.yas-from-search-profile):not(.yas-from-search-configuration):not(.yas-current),
    &.yas-from-search-profile.yas-from-search-configuration.yas-current.yas-override:not(.yas-override-from-search-profile) {
        .z-hlayout-inner:first-child:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 7px;
            width: 6px;
            background: url("images/icon_appendix_external-profile.png") no-repeat;
            background-color: white;
        }
    }*/
}

.search-results-highlight {
	font-weight: bold;
}
