<div data-uib-dropdown
    is-open="$ctrl.isOpen"
    auto-close="disabled"
    class="ySEPerspectiveSelector">

    <a type="button"
        class="btn btn-default yHybridAction"
        data-uib-dropdown-toggle
        ng-disabled="disabled "
        aria-pressed="false">

        <span id="hotkeyTooltip"
            data-ng-if="$ctrl.isHotkeyTooltipVisible() && !$ctrl.isOpen"
            data-y-popover
            data-placement="'bottom'"
            data-template-url="'perspectiveSelectorHotkeyTooltipTemplate.html'"
            data-trigger="'hover'">
            <span class="hyicon hyicon-info-icon ySEPerspectiveSelector__hotkey-tooltip--icon"></span>
        </span>
        <span class="ySEPerspectiveSelector__btn-text">{{$ctrl.getActivePerspectiveName() | translate}}</span>
        <span class="hyicon hyicon-arrow"></span>
    </a>
    <ul class="dropdown-menu bottom btn-block ySEPerspectiveList"
        role="menu">
        <li ng-repeat="choice in $ctrl.getDisplayedPerspectives()"
            class="item ySEPerspectiveList--item"
            data-ng-click="$ctrl.selectPerspective(choice.key)">
            <a href
                data-ng-click="$ctrl.selectPerspective(choice.key);">{{choice.nameI18nKey | translate}}</a>
        </li>
    </ul>
</div>