<div role="tab"
    id="{{::headingId}}"
    aria-selected="{{isOpen}}"
    class="yCollapsibleContainer__header"
    ng-keypress="toggleOpen($event)">

    <a role="button"
        data-toggle="collapse"
        href
        aria-expanded="{{isOpen}}"
        aria-controls="{{::panelId}}"
        tabindex="0"
        class="accordion-toggle yCollapsibleContainer__title"
        ng-click="toggleOpen()"
        uib-accordion-transclude="heading"
        ng-disabled="isDisabled"
        uib-tabindex-toggle>
        <span uib-accordion-header
            ng-class="{'text-muted': isDisabled}">{{heading}}</span>
    </a>

    <a class="yCollapsibleContainer__icon btn btn-link"
        data-toggle-id="toggle-1"
        title="{{isOpen ? 'se.ycollapsible.action.collapse' : 'se.ycollapsible.action.expand' | translate}}"
        aria-expanded="{{isOpen}}"
        ng-click="toggleOpen()">
        <span class="hyicon hyicon-chevron y-collapsible-icon"
            data-ng-class="{
            'y-collapsible-icon--collapse':isOpen, 'y-collapsible-icon--expand':!isOpen}"></span>
    </a>

</div>

<div id="{{::panelId}}"
    aria-labelledby="{{::headingId}}"
    aria-hidden="{{!isOpen}}"
    role="tabpanel"
    class="panel-collapse collapse"
    uib-collapse="!isOpen">
    <div ng-transclude></div>
</div>