<div class="form-group dc-page-variations">
    <label class="control-label control-label__margin">
        <span>{{ $ctrl.variationPagesTitleI18nKey | translate }}</span>
        <y-help data-ng-if="$ctrl.variations.length > 0"
            data-template="$ctrl.renderers.helpTemplate()">
        </y-help>
    </label>
    <div data-ng-if="$ctrl.variations.length === 0"
        class="dc-no-variations form-readonly-text form-readonly-text__tight form-readonly-text__inline">{{ $ctrl.noVariationsI18nKey | translate }}</div>
    <div data-ng-if="$ctrl.variations.length > 0">
        <client-paged-list data-items="$ctrl.variations"
            data-keys="$ctrl.keys"
            data-renderers="$ctrl.renderers"
            data-items-per-page="$ctrl.itemsPerPage"
            class="dc-page-variations-list">
        </client-paged-list>
    </div>
</div>