/* *
/* This file includes the styles used in Commerce Customization modal
*/

@perso-cc-modal__gutter: @perso-gutter;     //20px
@perso-cc-modal__title-layout--padding: 0.5*@perso-cc-modal__gutter 0 @perso-cc-modal__gutter 0;    //10px 0 20px 0
@perso-cc-modal__title-layout--font-size: 16px;
@perso-cc-modal__select2-choices--margin-top: 0.75*@perso-cc-modal__gutter;     //15px;
@perso-cc-modal__ui-select-match-item--padding: 0.5*@perso-cc-modal__gutter @perso-cc-modal__gutter;      //10px 20px
@perso-cc-modal--select2-search-choice--line-height: 22px;
@perso-cc-modal__select2-search-choice--margin: 0.25*@perso-cc-modal__gutter 0.5*@perso-cc-modal__gutter 0.25*@perso-cc-modal__gutter 0;     //5px 10px 5px 0
@perso-cc-modal__ui-select-match-close--padding-left: 0.5*@perso-cc-modal__gutter;     //10px
@perso-cc-modal__title-elements--padding: 0.25*@perso-cc-modal__gutter;      //5px;
@perso-cc-modal__content-layout--margin: 1.5*@perso-cc-modal__gutter 0;    //30px 0
@perso-cc-modal__ui-select--small--width: 250px;
.perso-cc-modal {
    color: @text-color-dark-blue;
    .select2-choices {
        margin-top: @perso-cc-modal__select2-choices--margin-top;
    }
    .ui-select-match-item {
        padding: @perso-cc-modal__ui-select-match-item--padding;
        display: inline-block;
        &.select2-search-choice {
            background: @background-color-light-grey2;
            border-style: none;
            line-height: @perso-cc-modal--select2-search-choice--line-height;
            margin: @perso-cc-modal__select2-search-choice--margin;
        }
    }
    .select2-disabled {
        opacity: @opacity_point-four;
        background: none;
        cursor: none;
    }
    .ui-select-match-close {
        position: inherit;
        vertical-align: top;
        padding-left: @perso-cc-modal__ui-select-match-close--padding-left;
    }
}

.perso-cc-modal__title-layout {
    display: flex;
    justify-content: flex-start;
    font-size: @perso-cc-modal__title-layout--font-size;
    padding: @perso-cc-modal__title-layout--padding;
    border-bottom: 1px solid @border-color-light-grey;
}

.perso-cc-modal__title-cname {
    font-weight: @font-weight-bold;
    max-width: 35%;
}

.perso-cc-modal__title-vname {
    padding-left: @perso-cc-modal__title-elements--padding;
    max-width: 60%;
}

.perso-cc-modal__title-status {
    &:extend(.perso-list__status--value);       //keep consistency
    padding: 0 @perso-cc-modal__title-elements--padding;
    align-self: center;
}

.perso-cc-modal__content-layout {
    margin: @perso-cc-modal__content-layout--margin;
}

@media (max-width: 768px) {
    .perso-cc-modal__ui-select--small {
        width: @perso-cc-modal__ui-select--small--width;
    }
}
