<div class="y-dropdown-more-menu"
    data-uib-dropdown>
    <button class="btn btn-link dropdown-toggle"
        type="button"
        data-uib-dropdown-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true">
        <span class="hyicon hyicon-more y-dropdown-more-menu__ddlb__icon"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right"
        data-uib-dropdown-menu>
        <li data-ng-repeat='dropdownItem in $ctrl.clonedDropdownItems'
            data-ng-if="dropdownItem.condition($ctrl.selectedItem)">
            <span data-ng-include="dropdownItem.templateUrl"></span>
        </li>
    </ul>
</div>