<div class="ySENavigationMediaSearch">
    <div class="row ySENavigationMediaSearch-row">
        <div class="ySENavigationMediaSearchName"
            title="{{item.code}}">{{item.code}}</div>
        <div class="ySENavigationMediaSearchImage">
            <img data-ng-src="{{item.downloadUrl}}"
                class="pull-right">
        </div>
    </div>
</div>