<y-message data-ng-if="modalController.showDisclaimer"
    data-type="info"
    data-message-id="VisibilityTab.DisplayComponentOffDisclaimer">
    <message-description>
        <translate>se.cms.editortabset.visibilitytab.disclaimer</translate>
    </message-description>
</y-message>

<generic-editor data-smartedit-component-id="modalController.data.componentUuid"
    data-smartedit-component-type="modalController.data.componentType"
    data-structure="modalController.structure"
    data-structure-api="modalController.structureApi"
    data-content="modalController.data.content"
    data-content-api="modalController.contentApi"
    data-submit="modalController.controls.submit"
    data-reset="modalController.controls.reset"
    data-is-dirty="modalController.controls.isDirty"
    data-editor-stack-id="modalController.editorStackId"
    data-get-api="modalController.getApi($api);">
</generic-editor>