@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

/*================================
    QuickLocaleToggle Popup (Systembar)
================================*/
// Relevant Changes applied to the Quick Locale Toggle Popup


@import "../systemBarWidget/scss/support/_systembar-variables.scss";

.yw-quickToggleLocale {
    &-cl {
        width: 100%;
        padding: $systembar-popup__list-cell--padding;
        border-top: $systembar-popup__list-cell--border-top;

        &-value,
        &-label {
            display: inline-block;
            padding: $systembar-popup__list-cell-content--padding;
        }
    }
}
