<div class="input-group se-date-field"
    id="date-time-picker-{{::name}}"
    data-ng-show="isEditable">
    <input type="text"
        class="form-control se-date-field--input"
        data-ng-class="{ 'se-input--has-error': field.hasErrors, 'se-input--has-warning': field.hasWarnings, 'se-input--is-disabled': !isEditable}"
        placeholder="{{::placeholderText | translate}}"
        name="{{::name}}" />
    <span class="input-group-addon se-date-field--button"
        data-ng-class="{ 'se-date-field--button-has-error': field.hasErrors, 'se-date-field--button-has-warning': field.hasWarnings }">
        <span class="glyphicon glyphicon-calendar se-date-field--button-icon"></span>
    </span>
</div>
<div class="input-group date se-date-field"
    data-ng-if="!isEditable">
    <input type='text'
        class="form-control se-date-field--input"
        data-ng-class="{'se-input--is-disabled': !isEditable}"
        data-ng-model="model"
        data-date-formatter
        data-ng-disabled="true"
        data-format-type="short">
</div>