<!DOCTYPE html>
<html>

<head>
    <base href="../../../" />

    <!--3rd prty libs-->
    <script src="web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="web/webroot/static-resources/dist/smartedit/css/outer-styling.css">

    <script src="../../../web/webroot/static-resources/smarteditloader/js/smarteditloader.js"></script>
    <script src="../../../web/webroot/static-resources/smarteditcontainer/js/smarteditcontainer.js"></script>
    <script src="test/e2e/dynamicPagedList/dynamicPagedListApp.js"></script>
    <script src="test/e2e/dynamicPagedList/backendMocks.js"></script>


    <style>
    .visited {
        color: purple;
        font-style: italic;
    }
    </style>

    <script>
    var urlParams = new URLSearchParams(window.location.search);
    window.sessionStorage.setItem("PERSPECTIVE_SERVICE_RESULT", urlParams.get('perspectiveServiceResult'));
    </script>

</head>

<body data-ng-app="dynamicPageListAppModule">

    <div ng-controller="defaultController as defaultCtl">

        <div class="page-list-search form-group">
            <input type="text"
                class="form-control"
                data-ng-model="defaultCtl.query.value"
                name="query">
        </div>

        <dynamic-paged-list config="defaultCtl.pagedListConfig"
            mask="defaultCtl.query.value"></dynamic-paged-list>

    </div>

</body>

</html>