@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';


@import "_workflows-variables.scss";

@mixin _addButtonBackgroundDots ($vertical-bg-position:0) {
  background: url('images/dots.png') center ($vertical-bg-position) no-repeat;
  box-shadow: none;
}

// @mixin _pointingPopupDefaults ($z-index:false) {
//   position: absolute;
//   content: '';
//   width: 0;
//   height: 0;
//   @if $z-index {
//     z-index: $z-index;
//   }
// }