/* *
/* This file includes the styles used in filter component (e.g. page filter, catalog filter, status filter, etc)
*/

.perso-filter {   
    .select2-container .select2-choice {
        border: none;
        box-shadow: none;
    }

    .select2-drop {
        border: 1px solid @smartedit-grey13;
    }

    .select2-container .select2-choice .select2-arrow {
        top: 0;
    }

    .select2-container .select2-choice div,
    .select2-container .select2-choice .select2-arrow b {
        color: @blue !important;
    }
}