@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

/*================================
    Create Button Variables
================================*/
// Variables for the Create Button




$actionLogo__btn--width: 25px;
$actionLogo__btn--margin-left: 2px;
$actionLogo__btn--margin-right: 2px;
$actionLogo__btn--padding: 0;
$actionLogo__btn--background: none;
$actionLogo__btn-hover--background: none;
$actionLogo__btn-img--height: 24px;