/* *
/* This file is the parent of all the styles and the only variable converted to css and visible to the outside world.
/* All the imports should go here only
*/
/* *
/* Imports of Techne components, patterns not used in SmartEdit
*/
/* BTN SETS */
.y-tree {
  color: #27394f;
}
.y-tree * {
  transition: all .25s ease;
}
.y-tree .row {
  margin-left: 0;
  margin-right: 0;
}
.y-tree .desktop-layout {
  border: 1px solid #e0e9f0;
  margin-top: -1px;
  padding: 20px 15px 10px 15px;
}
.y-tree .desktop-layout:hover {
  background-color: #d2dbe6;
}
.y-tree .mobile-layout {
  border: 1px solid #e0e9f0;
  margin-top: -1px;
  padding: 15px;
  position: relative;
}
.y-tree .mobile-layout:hover {
  background-color: #d2dbe6;
}
.y-tree .mobile-layout .tree-head {
  padding: inherit;
  background: inherit;
}
.y-tree .mobile-layout .mobile-data {
  padding-bottom: 20px;
}
.y-tree .mobile-layout .mobile-more-menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}
.y-tree .tree-head {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7f90a4;
  background: 0 0;
  background-color: transparent;
  padding: 50px 15px 15px 15px;
}
.y-tree .primaryData {
  font-weight: 600;
  color: #27394f;
}
.y-tree .inactive-level {
  background-color: #f3f6f9;
}
.y-tree .active-level .desktop-layout,
.y-tree .active-level .mobile-layout {
  background-color: #ffffff;
}
.y-tree .active-level .desktop-layout:hover,
.y-tree .active-level .mobile-layout:hover {
  background-color: #d2dbe6;
}
.y-tree .active-level--last {
  margin-bottom: 12px;
}
.y-tree .category-toggle,
.y-tree .dropdown-toggle {
  padding: 0;
}
.y-tree .category-toggle {
  margin: -5px 0 0 -10px;
}
.y-tree .hyicon-chevron:before {
  font-size: 30px;
  transition: all 0.25s ease;
}
.y-tree .category-toggle[aria-expanded=true] .hyicon-chevron:before {
  transform: rotate(90deg);
}
/* *
/* Imports of personalization variables, common styles, fixes and re-usable components
*/
/* *
/* This file will include all the constants (e.g. colors, fonts, etc)
*/
/** Colors
/* all the colors used - write them once in this section so we can easier keep track and re-use
*/
/* *
/* This file includes the common styles used in Personalization
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
/* new: the active status is now called enabled
 /* the inactive status is now called disabled 
 */
.status-active {
  color: green;
}
.status-ignore,
.status-inactive {
  color: #8592a2;
}
.select2-highlighted .status-active,
.select2-highlighted .status-inactive,
.select2-highlighted .status-ignore {
  color: #ffffff;
}
.perso__scrollzone {
  position: fixed;
  z-index: 10000;
  left: 0;
  width: 100%;
  height: 10%;
}
.perso__scrollzone--normal {
  background-color: #f3f6f9;
}
.perso__scrollzone--transparent {
  background-color: transparent;
}
.perso__scrollzone--top {
  top: 0;
}
.perso__scrollzone--bottom {
  bottom: 0;
}
.perso__datetimepicker--error-border {
  border: 2px solid red;
}
.perso__datetimepicker--warning-border {
  border: 2px solid #fd621f;
}
.perso__datetimepicker--error-text {
  color: red;
}
.col-reset-padding {
  padding-left: 0;
  padding-right: 0;
}
.perso-list__status--value,
.perso-library__status-value {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.perso-list__dates-layout,
.perso-library__dates-value {
  font-size: 12px;
}
.perso__filter-layout .ui-select-container {
  width: 100%;
  text-align: left;
}
.perso-list__primary-data,
.perso-library__primary-data {
  font-weight: 600;
}
.personalization-modal__label {
  font-size: 13px;
  font-weight: 700;
}
.perso__cc-icon {
  margin-left: -5px;
  vertical-align: middle;
  color: #8a8fa1;
}
.perso__cc-icon:before {
  font-size: 24px;
}
.perso__globe-icon {
  color: #8a8fa1;
}
.perso__globe-icon:before {
  font-size: 22px;
}
.perso__cc-icon--hidden {
  visibility: hidden;
}
.perso-wrap-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.perso__scrollbar--hidden {
  -ms-overflow-style: none;
}
.perso__scrollbar--hidden::-webkit-scrollbar {
  display: none;
}
.perso__page-level-help-message {
  font-size: 15px;
  font-style: italic;
  color: #8592a2;
}
.sliderPanelParentModal input.form-control,
.sliderPanelParentModal textarea.form-control {
  border-radius: 0;
}
.perso-library__back-to-top-button .back-to-top {
  font-size: 35px;
  color: #7f90a4;
  cursor: pointer;
}
.perso-library__back-to-top-button .back-to-top:hover {
  color: #4f86e3;
}
.perso-library__back-to-top-button:hover {
  text-decoration: none;
}
/* *
* Let's put here all the css hacks and document what we fixed
* From time to time (every release?) would be nice to come back to this file and try to clean it up
* Don't feel bad from the name, it is a common practice ;)
* More here: https://csswizardry.com/2013/04/shame-css/
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (min--moz-device-pixel-ratio: 0) {
  .perso-tree__btn {
    padding-top: 12px;
  }
}
/* *
/* This file includes the styles used in filter component (e.g. page filter, catalog filter, status filter, etc)
*/
.perso-filter .select2-container .select2-choice {
  border: none;
  box-shadow: none;
}
.perso-filter .select2-drop {
  border: 1px solid #d5dee8;
}
.perso-filter .select2-container .select2-choice .select2-arrow {
  top: 0;
}
.perso-filter .select2-container .select2-choice div,
.perso-filter .select2-container .select2-choice .select2-arrow b {
  color: #0486e0 !important;
}
/* *
/* This file includes the styles used in search component (e.g. from the panel)
*/
.perso-search {
  color: #27394f;
  width: 60%;
  border: 1px solid #d4d7dc;
  margin-right: 3px;
}
.perso-search .form-control {
  padding-left: 5px;
  padding-bottom: 10px;
  border: none;
  box-shadow: none;
}
.perso-search .form-control::-ms-clear {
  display: none;
}
.perso-search__search-icon {
  border: none;
  border-radius: 0;
  top: 0;
  background-color: #ffffff;
  font-size: 30px;
  padding: 0 0 4px 6px;
}
.perso-search__reset-icon {
  background-color: #ffffff;
  padding: 5px 15px 5px 0;
  border: none;
  top: 0;
  font-size: large;
  color: #8592a2;
}
.perso-search__reset-icon.input-group-addon {
  border-radius: 0;
}
.perso-search__results {
  width: 40%;
  align-self: center;
  text-align: right;
  color: #8592a2;
  font-style: italic;
}
.perso-toggle {
  width: 55%;
  display: flex;
  justify-content: flex-end;
}
.perso-toggle__label {
  align-self: center;
  margin-bottom: 0;
  padding-right: 10px;
}
.perso-toggle__checkbox-label {
  height: inherit;
}
/* * 
/* Imports of the rest of personalization styling
*/
.perso__component-decorator {
  border: 5px;
  border-style: solid;
  border-color: #0486e0;
}
.perso__component-decorator-icon {
  font-size: 22px;
  color: #ffffff;
}
.perso__component-decorator-icon:before {
  padding: 10px 5px;
  background-color: #0486e0;
  box-shadow: -1px 5px 12px -2px rgba(117, 117, 117, 0.44);
}
.modal-fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-fullscreen .modal-header .close {
  margin-right: 20px;
}
.modal-fullscreen > .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: #e0e9f0;
}
.modal_bigger {
  font-size: 15px;
}
.modal_bigger .modal-body {
  min-height: 600px;
}
.personalization-ctx__icon:before {
  vertical-align: inherit;
}
.personalization-ctx__icon:hover {
  background: #ffffff;
  color: #00c6ff;
}
.perso-ctx__button-template {
  font-size: 15px;
  width: 305px;
  border: 1px solid #d5dee8;
  border-top: none;
  border-left: none;
  margin: -10px;
  padding: 20px;
  box-sizing: content-box;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);
}
/* *
/* This file includes the styles used in Combined View Panel
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
.pe-combined-view-panel__wrapper {
  text-align: center;
  font-size: 15px;
  max-height: 55vh;
  overflow-x: hidden;
}
.pe-combined-view-panel__configure-layout {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px 15px 25px;
  border-bottom: 1px solid #d4d7dc;
}
.pe-combined-view-panel__configure-btn {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding-left: 0;
  padding-right: 5px;
}
.pe-combined-view-panel__list-layout {
  color: #27394f;
  font-size: 15px;
  padding: 15px 25px;
  border-bottom: 1px solid #d4d7dc;
  display: flex;
  justify-content: flex-start;
}
.pe-combined-view-panel__list-layout:hover {
  background-color: #d2dbe6;
}
.pe-combined-view-panel--disabled {
  opacity: 0.5;
}
.pe-combined-view-panel--disabled .pe-combined-view-panel__list-layout {
  cursor: default;
}
.pe-combined-view-panel--disabled .pe-combined-view-panel__list-layout:hover {
  background-color: #ffffff;
}
.pe-combined-view-panel-list__letter-layout {
  width: 15%;
}
.pe-combined-view-panel-list__names-layout {
  width: 78%;
  text-align: left;
  padding-left: 10px;
}
.pe-combined-view-panel-list__vname {
  font-weight: 600;
  text-transform: uppercase;
}
.pe-combined-view-panel-list__icon {
  align-self: center;
  width: 5%;
  padding-left: 10px;
}
.pe-combined-view-panel-list__item--highlighted {
  background-color: #82aedb;
  color: #ffffff;
}
.pe-combined-view-panel-list__item--highlighted:hover {
  background-color: #82aedb;
}
.pe-combined-view-panel-list__item--highlighted .perso__globe-icon {
  color: #ffffff;
}
/* *
/* This file includes the styles used in Create New Customization modal
*/
.customization-form .form-group-dates {
  margin-bottom: 5px;
}
.customization-form .form-group {
  margin-bottom: 30px;
}
.customization-form .description-area {
  resize: none;
}
.customization-form .status-toggle {
  padding-right: 0;
}
.customization-form .status-toggle label {
  height: inherit;
  padding-bottom: 30px;
}
.customization-form .select2-choices {
  margin-top: 15px;
}
.customization-form .ui-select-match-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}
.customization-form .ui-select-match-item.select2-search-choice {
  background: #caddf0;
  border-style: none;
  line-height: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
.customization-form .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.customization-form .ui-select-match-close {
  position: inherit;
  vertical-align: top;
  padding-left: 10px;
}
.customization-form .targetgroup-list__title {
  font-weight: 600;
}
.customization-form .perso-sliderpanel__expression-text {
  font-weight: 700;
}
@media (max-width: 768px) {
  .customization-form .commerce-customization-ui-select-sm {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .navtab-info--dates {
    padding-left: 1%;
  }
}
.customization-form__title-header {
  display: flex;
  justify-content: space-between;
}
.customization-form__title-header-badge {
  margin-right: 0;
}
.customization-form {
  word-wrap: break-word;
}
.customization-form__title-header-name {
  font-size: 16px;
  font-weight: 700;
  width: 85%;
}
.customization-form__title-subarea {
  display: flex;
  flex-direction: row-reverse;
}
.customization-form__title-dates {
  font-size: 11px;
}
.customization-form__title {
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d7dc;
}
.hyicon-msgwarning--dates {
  color: #fbbb21;
  font-size: 11px;
}
.customization-form__navtab-forms--add-btn {
  padding: 20px 0;
  border-bottom: 1px solid #d4d7dc;
}
.customization-form__list-group__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d4d7dc;
  padding: 20px 0 20px 20px;
}
.customization-form__list-group__item:hover {
  background-color: #d2dbe6;
}
.customization-form__navtab-forms__list-group {
  list-style-type: none;
  padding: 0;
}
.customization-form__variation-data,
.customization-form__variation-menu {
  display: inline-block;
}
.customization-form__variation-menu {
  width: 65px;
}
.customization-form__variation-data {
  width: calc(100% - 65px);
}
.customization-form__list-group {
  list-style-type: none;
  padding: 0;
}
.navtab-row__item__variation {
  font-weight: bold;
  text-transform: uppercase;
  color: #0486e0;
  padding-right: 5px;
}
.variation-layout--selected {
  color: #8592a2;
}
.variation-layout--selected .status-active,
.variation-layout--selected .status-inactive,
.variation-layout--selected .status-ignore {
  color: #8592a2;
}
.help-inline--tooltip .pe-help-block--inline {
  right: -17px;
  top: 20px;
}
.help-inline--tooltip:hover .hyicon-msgwarning--dates:before {
  content: "\e036";
}
.hyicon-msgwarning--dates.help-icon-inline:before {
  font-size: 13px;
  color: #fbbb21;
  margin: 0;
}
.help-inline .hyicon.hyicon-msgwarning--dates {
  font-size: 13px;
}
/* *
/* This file includes the styles used in Create New Customization modal, sliding panel
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
.customization-form__sliderpanel .form-group {
  margin-bottom: 30px;
}
.customization-form__sliderpanel .row {
  margin-left: 0;
  margin-right: 0;
}
.customization-form__sliderpanel .select2-choices {
  margin-top: 15px;
}
.customization-form__sliderpanel .ui-select-match-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}
.customization-form__sliderpanel .ui-select-match-item.select2-search-choice {
  background: #caddf0;
  border-style: none;
  line-height: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
.customization-form__sliderpanel .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.customization-form__sliderpanel .ui-select-match-close {
  position: inherit;
  vertical-align: top;
  padding-left: 10px;
}
.sliderpanel-body {
  overflow: auto;
}
.sliderpanel-footer {
  padding-top: 15px;
}
.perso-sliderpanel__btn-link {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 0;
}
.perso-sliderpanel__expression-text {
  font-weight: 700;
}
.sliderpanel-row {
  margin-left: 0;
  margin-right: 0;
}
.sliderpanel-col {
  padding-left: 0;
}
.sliderPanelParentModal.modal-fullscreen #y-modal-dialog {
  height: 100vh;
}
/* *
/* This file includes the styles used Customize Component Modal
/* (which can accessed on hovering over components either from the combined view or customize panel view)
*/
.perso-customize-component {
  font-size: 15px;
}
.perso-customize-component__select2-container {
  margin-bottom: 20px;
  display: block;
}
.perso-customize-component__select2-container .select2-result-label {
  font-weight: 700;
}
.perso-customize-component__title-layout__letter-block {
  padding-right: 20px;
}
.perso-customize-component__title-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d7dc;
}
.perso-customize-component__title-layout__cust-name {
  font-weight: 700;
  max-width: 30%;
  padding-right: 2px;
}
.perso-customize-component__title-layout__target-group-name {
  max-width: 62%;
  padding-left: 2px;
}
.perso-customize-component__data-list {
  padding-top: 20px;
}
.perso-customize-component__select-group-label-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.perso-customize-component__filter-layout {
  display: flex;
  justify-content: flex-end;
}
.perso-customize-component__filter-label {
  align-self: center;
  margin-bottom: 0;
}
/* *
/* This file includes the styles used in Manage Customization Library modal
*/
.perso-library {
  font-size: 16px;
}
.perso-library .modal-header h4 {
  text-align: center;
  margin: 0 auto 0 auto;
}
.perso-library .modal-header {
  border: none;
  padding-right: 0;
}
.perso-library .modal-body {
  padding-top: 0;
}
.perso-library .hyicon {
  font-family: inherit;
}
.perso-library .y-tree .category-toggle {
  margin: 0;
}
.perso-library .ySEPanelSpinner {
  display: block;
  text-align: center;
}
.perso-library .tree-head {
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.tree-head__col--md,
.y-tree__col--md {
  width: 20%;
}
.tree-head__col--sm,
.y-tree__col--sm {
  width: 15%;
}
.tree-head__col--xs,
.y-tree__col--xs {
  width: 10%;
  text-align: center;
}
.tree-head__col--lg,
.y-tree__col--lg {
  width: 30%;
}
.y-tree__col--xl {
  width: 40%;
}
.perso-library__y-tree * {
  transition: none;
}
.perso-library__y-tree .mobile-more-menu {
  padding-top: 10px;
}
.perso-library__y-tree .angular-ui-tree-handle {
  color: #27394f;
  min-height: inherit;
}
.perso-library__y-tree .angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 0;
}
.perso-library__y-tree .desktop-layout,
.perso-library__y-tree .mobile-layout {
  display: flex;
  justify-content: space-between;
}
.perso-library__y-tree .perso__cc-icon {
  margin-left: -7px;
}
.y-tree-header--fixed {
  position: fixed;
  top: 80px;
  width: 96%;
  z-index: 999;
  background-color: #e0e9f0;
}
.perso-library__header {
  color: #8592a2;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding-top: 0;
  text-transform: capitalize;
}
.perso-library__add-button {
  margin-top: 15px;
}
.perso-library__add-button .hyicon:before {
  padding-right: 5px;
}
.perso-library__search {
  margin: 2em auto .5em auto;
  color: #27394f;
}
.perso-library__search .form-control {
  padding-left: 5px;
  padding-bottom: 12px;
  font-size: 15px;
  border-left: none;
  box-shadow: none;
  border-right: none;
}
.perso-library__search .form-control::-ms-clear {
  display: none;
}
.perso-library__search-input:focus {
  border-bottom: 1px solid #d4d7dc;
  border-top: 1px solid #d4d7dc;
}
.perso-library__search-icon {
  border-right: none;
  border-radius: 0;
  top: 0;
  background-color: #ffffff;
  font-size: 30px;
  padding: 0 0 4px 6px;
}
.perso-library__search-results {
  text-align: center;
  color: #8592a2;
  font-style: italic;
}
.perso-library__search-results--fixed {
  position: fixed;
  top: 90px;
  width: 96%;
  margin: 0 auto .5em auto;
  text-align: center;
  color: #8592a2;
  font-style: italic;
  z-index: 1000;
  background-color: #e0e9f0;
}
.perso-library__scroll-zone {
  height: 90vh;
  overflow-y: scroll;
}
.perso-library__back-to-top-button {
  position: absolute;
  bottom: 30px;
  right: 15px;
}
.y-tree-row__angular-ui-tree-handle {
  color: #27394f;
  border: none;
  min-height: inherit;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  width: 96%;
}
.y-tree-row__angular-ui-tree-handle:hover {
  background-color: transparent;
}
.y-tree-row__angular-ui-tree-handle--mobile {
  color: #27394f;
  border: none;
  min-height: inherit;
  font-weight: 400;
  background-color: transparent;
  width: 96%;
}
.y-tree-row__angular-ui-tree-handle--mobile:hover {
  background-color: transparent;
}
.perso-library__tree-head--mobile {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7f90a4;
}
.y-tree__col-xl--mobile {
  width: 90%;
}
.perso-library__number-data--mobile {
  margin-bottom: 10px;
}
.perso-library__angular-ui-tree-drag {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 16px;
  font-weight: inherit;
  color: #27394f;
  background-color: #ffffff;
}
.perso-library__angular-ui-tree-drag .dropdown-toggle,
.perso-library__angular-ui-tree-drag .category-toggle {
  padding: 0;
}
.perso-library__angular-ui-tree-drag .desktop-layout {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 10px 15px;
  border: 1px solid #e0e9f0;
  margin-top: -1px;
}
.perso-library__angular-ui-tree-drag .mobile-layout {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e0e9f0;
  margin-top: -1px;
  padding: 15px;
  position: relative;
}
.perso-library__angular-ui-tree-drag .mobile-more-menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}
.perso-library__angular-ui-tree-drag .child-row .desktop-layout,
.perso-library__angular-ui-tree-drag .child-row .mobile-layout {
  margin-left: -10px;
  border-left: none;
}
.perso-library__angular-ui-tree-drag .perso-library__primary-data {
  font-weight: 600;
}
.perso-library__angular-ui-tree-drag .mobile-data {
  padding-bottom: 20px;
}
.perso-library__angular-ui-tree-drag .perso-library__number-data--mobile {
  margin-bottom: 10px;
}
.perso-library__angular-ui-tree-drag .perso-library__tree-head--mobile {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7f90a4;
}
.perso-library__angular-ui-tree-drag .perso__cc-icon {
  vertical-align: middle;
  margin-left: -7px;
}
@media (max-width: 1400px) {
  .tree-head__col--md,
  .y-tree__col--md {
    text-align: center;
  }
  .y-tree-header--fixed,
  .perso-library__search-results--fixed {
    width: 94%;
  }
}
@media (max-width: 1600px) {
  .y-tree__col--lg,
  .y-tree__col--xl {
    padding-left: 1%;
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .perso-library__scroll-zone {
    height: 65vh;
  }
}
@media (min--moz-device-pixel-ratio: 0) {
  .perso__scrollbar--hidden {
    overflow-y: auto;
  }
  .perso-library__scroll-zone {
    height: 80vh;
  }
}
/* *
/* This file includes the styles used in Customize Panel general layout (for the search, filter)
*/
.pe-customize-panel__wrapper {
  max-height: 55vh;
  overflow-x: hidden;
}
.pe-customize-panel__filter-label-layout {
  display: flex;
  justify-content: flex-start;
  padding: 5px 10px 5px 25px;
  border-bottom: 1px solid #d4d7dc;
}
.pe-customize-panel__filter-label {
  align-self: center;
  margin-bottom: 0;
}
.pe-customize-panel__filter-layout {
  display: flex;
  justify-content: space-between;
}
.pe-customize-panel__search-layout {
  display: flex;
  justify-content: space-around;
  padding: 15px 25px;
  border-bottom: 1px solid #d4d7dc;
}
/* *
/* This file includes the styles used in Customize Panel Customizations List
*/
.pe-customize-panel-list {
  color: #27394f;
  font-size: 15px;
}
.pe-customize-panel-list .hyicon {
  font-family: inherit;
}
.pe-customize-panel-list--empty {
  padding-bottom: 20px;
}
.pe-customize-panel-list__row-layout {
  border-bottom: 1px solid #d4d7dc;
  display: flex;
  justify-content: space-between;
}
.pe-customize-panel-list__row-layout:hover {
  background-color: #d2dbe6;
}
.pe-customize-panel-list__row {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.pe-customize-panel-list__icon-layout {
  width: 7%;
  align-self: center;
  padding: 15px 20px;
}
.pe-customize-panel-list__icon-divider {
  border-right: 1px solid #d4d7dc;
}
.pe-customize-panel-list__col-xs {
  width: 5%;
  align-self: center;
}
.pe-customize-panel-list__col-sm {
  width: 10%;
  align-self: center;
  text-align: center;
}
.pe-customize-panel-list__col-md {
  width: 20%;
  align-self: center;
  text-align: center;
}
.pe-customize-panel-list__col-lg {
  width: 40%;
  align-self: center;
}
.pe-customize-panel-list__parent-layout {
  padding-left: 20px;
}
.pe-customize-panel-list__child-layout {
  padding-left: 30px;
}
.pe-customize-panel-list__components-layout {
  display: flex;
  justify-content: center;
}
.pe-customize-panel-list__number-layout {
  padding-right: 5px;
}
.pe-customize-panel-list__btn-link {
  padding: 0;
}
.pe-customize-panel-list__cc-icon {
  color: #8a8fa1;
}
.pe-customize-panel-list__cc-icon:before {
  font-size: 24px;
}
.pe-customize-panel-list__cc-icon--hidden {
  visibility: hidden;
}
.pe-customize-panel-list__dropdown {
  margin-right: 20px;
}
.pe-customize-panel-list__dropdown-menu {
  min-width: 100px;
  text-align: left;
}
.pe-customize-panel-list__dropdown-menu__item {
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 10px 16px;
}
.selectedVariation,
.selectedCustomization {
  background-color: #82aedb;
  color: #ffffff;
}
.selectedVariation:hover,
.selectedCustomization:hover {
  background-color: #82aedb;
}
.selectedVariation .status-active,
.selectedCustomization .status-active,
.selectedVariation .status-inactive,
.selectedCustomization .status-inactive,
.selectedVariation .status-ignore,
.selectedCustomization .status-ignore,
.selectedVariation .pe-customize-panel-list__cc-icon,
.selectedCustomization .pe-customize-panel-list__cc-icon,
.selectedVariation .perso__globe-icon,
.selectedCustomization .perso__globe-icon,
.selectedVariation .perso__more-icon,
.selectedCustomization .perso__more-icon,
.selectedVariation .perso__chevron-down-icon,
.selectedCustomization .perso__chevron-down-icon {
  color: #ffffff;
}
.pe-customize-panel-list__item-last {
  padding-bottom: 30px;
}
.se-toolbar-menu-content--pe-customized {
  max-width: 375px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  top: inherit;
  overflow-y: hidden;
}
.se-toolbar-menu-content--pe-customized-customizations-panel {
  max-width: 780px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  top: inherit;
  overflow-y: hidden;
}
.se-toolbar-menu-content--pe-customized__item {
  padding: 30px 0 30px 25px;
  overflow: hidden;
  border-top: 1px solid #d4d7dc;
}
.se-toolbar-menu-content--pe-customized__item__link {
  font-size: 15px;
  font-weight: 600;
}
.se-toolbar-menu-content--pe-customized__item__link:hover,
.se-toolbar-menu-content--pe-customized__item__link:focus {
  text-decoration: none;
  color: #0486e0;
}
.se-toolbar-menu-content--pe-customized__headers {
  color: #ffffff;
  background-color: #32a0ec;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 20px 25px;
}
.se-toolbar-menu-content--pe-customized__headers--h2 {
  font-size: 18px;
  font-weight: 400;
}
.se-toolbar-menu-content__y-help {
  align-self: center;
  padding: 5px 15px 0 15px;
}
.se-toolbar-menu-content__y-help .hyicon-help-icon {
  color: #ffffff;
}
.personalizationsmarteditComponentSelected,
.personalizationsmarteditComponentSelected0,
.personalizationsmarteditComponentSelected1,
.personalizationsmarteditComponentSelected2,
.personalizationsmarteditComponentSelected3,
.personalizationsmarteditComponentSelected4,
.personalizationsmarteditComponentSelected5,
.personalizationsmarteditComponentSelected6,
.personalizationsmarteditComponentSelected7,
.personalizationsmarteditComponentSelected8,
.personalizationsmarteditComponentSelected9,
.personalizationsmarteditComponentSelected10,
.personalizationsmarteditComponentSelected11,
.personalizationsmarteditComponentSelected12,
.personalizationsmarteditComponentSelected13,
.personalizationsmarteditComponentSelected14 {
  border: 5px;
  border-style: solid;
  border-color: #0486e0;
}
.personalizationsmarteditComponentSelectedList,
.personalizationsmarteditComponentSelectedList0,
.personalizationsmarteditComponentSelectedList1,
.personalizationsmarteditComponentSelectedList2,
.personalizationsmarteditComponentSelectedList3,
.personalizationsmarteditComponentSelectedList4,
.personalizationsmarteditComponentSelectedList5,
.personalizationsmarteditComponentSelectedList6,
.personalizationsmarteditComponentSelectedList7,
.personalizationsmarteditComponentSelectedList8,
.personalizationsmarteditComponentSelectedList9,
.personalizationsmarteditComponentSelectedList10,
.personalizationsmarteditComponentSelectedList11,
.personalizationsmarteditComponentSelectedList12,
.personalizationsmarteditComponentSelectedList13,
.personalizationsmarteditComponentSelectedList14 {
  color: #ffffff;
  width: 44px;
  height: 44px;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}
.personalizationsmarteditComponentSelected0 {
  border-color: #0486e0;
}
.personalizationsmarteditComponentSelected1 {
  border-color: #9dc75b;
}
.personalizationsmarteditComponentSelected2 {
  border-color: #fd621f;
}
.personalizationsmarteditComponentSelected3 {
  border-color: #b831b4;
}
.personalizationsmarteditComponentSelected4 {
  border-color: #faba0d;
}
.personalizationsmarteditComponentSelected5 {
  border-color: #1ec8df;
}
.personalizationsmarteditComponentSelected6 {
  border-color: #de356b;
}
.personalizationsmarteditComponentSelected7 {
  border-color: #1F4D70;
}
.personalizationsmarteditComponentSelected8 {
  border-color: rgba(31, 77, 112, 0.9);
}
.personalizationsmarteditComponentSelected9 {
  border-color: rgba(31, 77, 112, 0.8);
}
.personalizationsmarteditComponentSelected10 {
  border-color: rgba(31, 77, 112, 0.7);
}
.personalizationsmarteditComponentSelected11 {
  border-color: rgba(31, 77, 112, 0.6);
}
.personalizationsmarteditComponentSelected12 {
  border-color: rgba(31, 77, 112, 0.5);
}
.personalizationsmarteditComponentSelected13 {
  border-color: rgba(31, 77, 112, 0.4);
}
.personalizationsmarteditComponentSelected14 {
  border-color: rgba(31, 77, 112, 0.3);
}
.personalizationsmarteditComponentSelectedList0 {
  background: #0486e0;
}
.personalizationsmarteditComponentSelectedList1 {
  background: #9dc75b;
}
.personalizationsmarteditComponentSelectedList2 {
  background: #fd621f;
}
.personalizationsmarteditComponentSelectedList3 {
  background: #b831b4;
}
.personalizationsmarteditComponentSelectedList4 {
  background: #faba0d;
}
.personalizationsmarteditComponentSelectedList5 {
  background: #1ec8df;
}
.personalizationsmarteditComponentSelectedList6 {
  background: #de356b;
}
.personalizationsmarteditComponentSelectedList7 {
  background: #1F4D70;
}
.personalizationsmarteditComponentSelectedList8 {
  background: rgba(31, 77, 112, 0.9);
}
.personalizationsmarteditComponentSelectedList9 {
  background: rgba(31, 77, 112, 0.8);
}
.personalizationsmarteditComponentSelectedList10 {
  background: rgba(31, 77, 112, 0.7);
}
.personalizationsmarteditComponentSelectedList11 {
  background: rgba(31, 77, 112, 0.6);
}
.personalizationsmarteditComponentSelectedList12 {
  background: rgba(31, 77, 112, 0.5);
}
.personalizationsmarteditComponentSelectedList13 {
  background: rgba(31, 77, 112, 0.4);
}
.personalizationsmarteditComponentSelectedList14 {
  background: rgba(31, 77, 112, 0.3);
}
.perso-tree__segments-layout {
  background-color: #f3f6f9;
  border-left: 20px solid #c4cedc;
  border-top: 1px solid #c4cedc;
  border-right: 1px solid #c4cedc;
  border-bottom: 1px solid #c4cedc;
  margin-bottom: 10px;
  padding-right: 10px;
}
.perso-tree__collapsed-container {
  border-left-color: #5f7084;
}
.perso-tree__empty-container .angular-ui-tree-placeholder {
  display: none;
}
.perso-tree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.perso-tree__btn {
  padding-right: 10px;
}
.perso-tree__container {
  padding: 10px 0;
}
.perso-tree__empty-container-node {
  background-color: #ffffff;
  border: 1px dashed #c4cedc;
  color: #c4cedc;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.perso-tree__empty-container-node--text {
  margin: auto;
}
.perso-tree__node--icon {
  font-size: 13px;
  padding-left: 5px;
}
.perso-tree__container--btn-icon {
  font-size: 13px;
  padding-right: 10px;
  padding-left: 0;
}
.perso-tree__node {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #c4cedc;
}
.perso-tree__node .angular-ui-tree-placeholder {
  margin: 0;
}
.perso-tree__container .angular-ui-tree-placeholder {
  margin: 0;
}
.perso-tree__node--content,
.perso-tree__node--content:hover {
  background-color: #ffffff;
  color: inherit;
  font-weight: 400;
  border: none;
  flex: 2 2 auto;
}
.perso-tree__node:hover .perso-tree__actions,
.perso-tree__container:hover .perso-tree__actions {
  visibility: visible;
}
.perso-tree__actions {
  display: inline-block;
  visibility: hidden;
}
.perso-tree__actions:hover {
  text-decoration: none;
}
.perso-tree__toggle {
  display: inline-block;
}
.perso-tree__dropdown {
  display: inline-block;
  margin-left: -10px;
}
.perso-tree__glyphicon {
  left: -17px;
  position: relative;
  color: #ffffff;
}
.perso-tree__glyphicon:hover {
  opacity: 0.8;
}
.perso-tree__angular-ui-tree-handle--empty {
  flex: 2 2 auto;
  border: none;
  background-color: transparent;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 10px;
}
@media (max-width: 600px) {
  .perso-tree__container {
    flex-direction: column;
  }
}
.angular-ui-tree-drag {
  color: #27394f;
  font-size: 15px;
}
.has-error .pe-datetime-range__picker {
  border-color: red;
}
.has-warning .pe-datetime-range__picker {
  border-color: #fbbb21;
}
.pe-datetime__msg {
  font-size: 13px;
}
.pe-datetime__warning-msg {
  font-style: italic;
}
.pe-date-field {
  width: 100%;
}
.pe-date-field__input {
  box-shadow: none;
  border-right: none;
}
.pe-date-field__input.pe-input--is-disabled {
  border-right: 1px solid #d4d7dc;
  border-radius: 0;
}
.pe-date-field__input + .bootstrap-datetimepicker-widget {
  background-color: #ffffff;
  color: #000000;
  color: initial;
}
.pe-datetime-range__picker__icon {
  font-size: 1.1em;
}
.pe-datetime-range__picker {
  box-shadow: none;
  background-color: #ffffff;
  color: #32a0ec;
  border-bottom: 1px solid #d4d7dc;
  border-top: 1px solid #d4d7dc;
  margin-top: 0;
  border-radius: 0;
}
.pe-toolbar-action {
  box-shadow: none;
}
.pe-toolbar-action.open .pe-toolbar-action--button--txt {
  color: #ffffff;
}
.pe-toolbar-action--button {
  padding: 5px 5px 4px 5px;
  min-width: 104px;
  border-top: 1px transparent;
  border-bottom: 1px transparent;
}
.open .dropdown-toggle.pe-toolbar-action--button {
  box-shadow: none;
}
.pe-toolbar-action--button:hover,
.pe-toolbar-action--button:focus,
.pe-toolbar-action--button:active,
.pe-toolbar-action--button:hover:active,
.pe-toolbar-action--button,
.pe-toolbar-item-context__btn:hover,
.pe-toolbar-item-context__btn:focus,
.pe-toolbar-item-context__btn:active {
  background-color: #e5f1f9;
  color: #0486e0;
  box-shadow: none;
  outline: none;
  outline-offset: 0;
}
.pe-toolbar-action--include {
  background-color: #ffffff;
  border: none;
  width: auto;
  margin: 0;
  padding: 0;
}
.pe-toolbar-action.open .pe-toolbar-action--button {
  background-color: #32a0ec;
  opacity: 1;
}
.pe-toolbar-action.open .pe-toolbar-action--button:hover,
.pe-toolbar-action.open .pe-toolbar-action--button:active,
.pe-toolbar-action.open .pe-toolbar-action--button:focus {
  background-color: #32a0ec;
  color: #ffffff;
  opacity: 1;
  border-right: none;
}
.pe-toolbar-action--button:hover,
.pe-toolbar-action--button:active,
.pe-toolbar-action--button:focus {
  opacity: 0.6;
}
.pe-toolbar-action.open .pe-toolbar-action--button {
  border-top: 1px transparent;
  border-bottom: 1px transparent;
  border-right: none;
}
.pe-toolbar-menu-ddlb--button__icon {
  font-size: 37px;
}
.pe-toolbar-menu-ddlb--button__icon:before {
  display: block;
}
.pe-toolbar-menu-content {
  margin: 0;
  border: none;
  padding: 0;
  width: 780px;
  cursor: initial;
}
.pe-toolbar-action--button--txt {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin-top: 5px;
}
.pe-toolbar-item-context__btn,
.pe-toolbar-item-context__btn--hyicon,
.pe-toolbar-item-context__btn--hyicon:hover,
.pe-toolbar-item-context__btn--hyicon:active,
.pe-toolbar-item-context__btn--hyicon:active:hover {
  background-color: #e5f1f9;
  color: #0486e0;
  box-shadow: none;
}
.pe-toolbar-item-context {
  display: inline-block;
  background-color: #e5f1f9;
}
.pe-toolbar-item-context .hyicon {
  font-size: 20px;
  padding-top: 2px;
  padding-left: 0;
}
.pe-toolbar-item-context .hyicon:hover {
  opacity: 0.6;
}
.pe-toolbar-item-context__btn--hyicon {
  min-width: 30px;
  padding: 5px 5px 4px 5px;
}
.pe-toolbar-item-context__btn,
.pe-toolbar-item-context__btn:hover,
.pe-toolbar-item-context__btn:active,
.pe-toolbar-item-context__btn:hover:active,
.pe-toolbar-item-context__btn:focus {
  border-right: 0 none;
  margin-right: -3px;
  background: url("../icons/toolbar-context-border.png") no-repeat;
  cursor: default;
  opacity: 1;
  padding: 5px 5px 4px 5px;
}
.pe-toolbar-item-context__btn--txt {
  height: 51px;
  max-width: 230px;
  padding-top: 7px;
  padding-left: 15px;
  text-transform: capitalize;
  font-size: 13px;
  margin-top: 5px;
}
.pe-combined-view-menu.open .pe-toolbar-item-context,
.pe-combined-view-menu.open .pe-toolbar-item-context__btn,
.pe-combined-view-menu.open .pe-toolbar-item-context__btn--hyicon {
  background-color: #32a0ec;
  color: #ffffff;
}
.pe-combined-view-menu.open .pe-toolbar-action--button,
.pe-toolbar-action-customize--button-with-context,
.pe-toolbar-action-customize--button-with-context:hover,
.pe-toolbar-action-customize--button-with-context:active,
.pe-toolbar-action-customize--button-with-context:focus,
.pe-toolbar-action-combined-view--button-with-context,
.pe-toolbar-action-combined-view--button-with-context:hover,
.pe-toolbar-action-combined-view--button-with-context:active,
.pe-toolbar-action-combined-view--button-with-context:focus {
  border-right: none;
}
/* *
/* This file includes the styles used in Combined View Ranking
*/
.pe-combinedview-ranking {
  font-size: 15px;
  color: #27394f;
  width: 350px;
  border: 1px solid #d5dee8;
  border-top: none;
  border-left: none;
  margin: -10px;
  box-sizing: content-box;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);
}
.pe-combinedview-ranking__info-layout {
  padding: 15px 20px;
  border-bottom: 1px solid #d4d7dc;
}
.pe-combinedview-ranking__title {
  font-size: 18px;
  font-weight: 600;
}
.pe-combinedview-ranking__list-item {
  border-bottom: 1px solid #d4d7dc;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
}
.pe-combinedview-ranking__letter-layout {
  width: 15%;
}
.pe-combinedview-ranking__names-layout {
  padding-left: 10px;
  width: 75%;
  text-align: left;
}
.pe-combinedview-ranking__vname {
  font-weight: 600;
  text-transform: uppercase;
}
.pe-combinedview-ranking__icon {
  width: 5%;
  align-self: center;
  padding-left: 10px;
}
.pe-combinedview-ranking__icon .tooltip {
  opacity: 1;
  width: 50%;
  border-bottom: none;
  background: transparent;
}
.pe-combinedview-ranking__icon .tooltip-inner {
  padding: 10px;
  font-size: 14px;
  text-align: left;
  border-radius: 0;
}
/* *
/* This file includes the styles used in Combined View Ranking
*/
.pe-combinedview-config__select-group-layout {
  margin: 20px 0 40px 0;
}
.pe-combinedview-config__select-group-layout .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.pe-combinedview-config__select-group-label-layout {
  display: flex;
  justify-content: space-between;
}
.pe-combinedview-config__label,
.pe-combinedview-config__filter-label {
  align-self: center;
  margin-bottom: 0;
}
.pe-combinedview-config__filter-layout {
  display: flex;
  justify-content: flex-end;
}
.pe-combinedview-config__ui-select-placeholder {
  font-size: 15px;
  color: #8a8fa1;
}
.pe-combinedview-config__ui-select-item--selected {
  font-weight: 700;
}
.pe-combinedview-config__ui-select-choices-layout {
  display: flex;
  justify-content: flex-start;
}
.pe-combinedview-config__ui-select-choices-col1 {
  width: 60%;
}
.pe-combinedview-config__ui-select-choices-col2 {
  padding-left: 10px;
  width: 40%;
}
.pe-combinedview-config__divider {
  border-top: 1px solid #d4d7dc;
}
.pe-combinedview-config__list-layout {
  border: 1px solid #d4d7dc;
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
}
.pe-combinedview-config__list-label {
  padding-bottom: 10px;
}
.pe-combinedview-config__letter-layout {
  width: 8%;
}
.pe-combinedview-config__names-layout {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex: 1;
  min-width: 0;
}
.pe-combinedview-config__cname {
  font-weight: 700;
  flex: 5;
  padding-right: 10px;
}
.pe-combinedview-config__vname {
  padding: 0 10px;
  flex: 7;
}
.pe-combinedview-config__hyicon-globe {
  width: 5%;
  align-self: center;
}
.pe-combinedview-config__hyicon-remove {
  width: 5%;
  align-self: center;
  text-align: center;
  font-size: 22px;
  color: #7f90a4;
}
.pe-combinedview-config__hyicon-remove:hover {
  opacity: 0.5;
}
@media (max-width: 700px) {
  .pe-combinedview-config__select-group-label-layout {
    flex-direction: column;
    justify-content: flex-start;
  }
  .pe-combinedview-config__label {
    align-self: flex-start;
  }
  .pe-combinedview-config__filter-layout {
    justify-content: flex-start;
  }
  .pe-combinedview-config__letter-layout {
    width: 20%;
  }
  .pe-combinedview-config__names-layout {
    width: 65%;
  }
  .pe-combinedview-config__hyicon-globe,
  .pe-combinedview-config__hyicon-remove {
    width: 8%;
  }
}
@media (max-width: 600px) {
  .pe-combinedview-config__filter-layout {
    flex-direction: column;
    justify-content: flex-start;
  }
  .pe-combinedview-config__filter-label {
    margin-top: 10px;
    align-self: flex-start;
  }
}
/* *
/* This file includes the styles used in Combined View Ranking
*/
.pe-component-info {
  font-size: 15px;
  color: #27394f;
  width: 350px;
  border: 1px solid #d5dee8;
  border-top: none;
  border-left: none;
  margin: -10px;
  box-sizing: content-box;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);
}
.pe-component-info__info-layout {
  padding: 15px 20px;
  border-bottom: 1px solid #d4d7dc;
}
.pe-component-info__title {
  font-size: 18px;
  font-weight: 600;
}
.pe-component-info__wrapper {
  max-height: 55vh;
  overflow-x: hidden;
}
.pe-component-info__list-item {
  border-bottom: 1px solid #d4d7dc;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
}
.pe-component-info__names-layout {
  width: 90%;
}
.pe-component-info__vname {
  font-weight: 600;
  text-transform: uppercase;
}
.pe-component-info__icon {
  width: 5%;
  align-self: center;
  padding-left: 10px;
}
.pe-component-info__icon .tooltip {
  opacity: 1;
  width: 50%;
  border-bottom: none;
  background: transparent;
}
.pe-component-info__icon .tooltip-inner {
  padding: 10px;
  font-size: 14px;
  text-align: left;
  border-radius: 0;
}
.pe-component-info .ySEPanelSpinner {
  display: block !important;
  text-align: center;
}
.pe-component-info .ySESpinner {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.pe-component-info .panel {
  margin-bottom: 0 !important;
}
