@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

$collection-editor-area__multi-reference-left--width: 700px;
$collection-editor-area__multi-reference-right--width: 246px;
$collection-editor-area-modal__listview-actioncontainer--padding-top: $container-spacing-default__half;
$collection-editor-area-modal__collectionEditorArea--border-color: $grey__light--800;
$collection-editor-area-modal__collection-preview-east--border-color: $grey__light--800;
