<!DOCTYPE html>
<html>

<head>
    <base href="/web/webroot/" />

    <!--3rd prty libs-->
    <script src="static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="static-resources/dist/smartedit/css/outer-styling.css">

    <script src="static-resources/smarteditloader/js/smarteditloader.js"></script>
    <script src="static-resources/smarteditcontainer/js/smarteditcontainer.js"></script>

    <script src="/test/e2e/genericEditor/common/common.js"></script>
    <script src="/test/e2e/genericEditor/componentPOSTPUT/genericEditorApp.js"></script>
    <script src="/test/e2e/genericEditor/componentPOSTPUT/backendMocks.js"></script>
</head>

<body data-ng-app="genericEditorApp"
    data-ng-controller="defaultController as cont">
    <span>id:&nbsp;</span>
    <span id="componentId">{{componentId}}</span>
    <generic-editor data-smartedit-component-id="cont.thesmarteditComponentId"
        data-smartedit-component-type="cont.thesmarteditComponentType"
        data-structure-api="cont.structureApi"
        data-content-api="cont.contentApi"
        data-update-callback="cont.updateCallback"
        display-submit="cont.displaySubmit"
        display-cancel="cont.displayCancel">
    </generic-editor>

</body>

</html>