<div class="pe-combinedview-ranking">
    <div class="pe-combinedview-ranking__info-layout">
        <div class="pe-combinedview-ranking__title"
            data-translate="personalization.modal.showactionlist.title"></div>
        <div class="perso__page-level-help-message"
            data-translate="personalization.modal.showactionlist.help.label"></div>
    </div>
    <div class="pe-combinedview-ranking__list-item"
        data-ng-repeat="item in ctrl.selectedItems"
        data-ng-init="ctrl.initItem(item)"
        data-ng-show="item.visible">
        <div class="pe-combinedview-ranking__letter-layout">
            <div data-ng-class="ctrl.getClassForElement($index)"
                data-ng-bind="ctrl.getLetterForElement($index)"></div>
        </div>
        <div class="pe-combinedview-ranking__names-layout">
            <div class="perso-wrap-ellipsis pe-combinedview-ranking__cname"
                data-ng-bind="item.customization.name"
                title="{{item.customization.name}}"></div>
            <div class="perso-wrap-ellipsis pe-combinedview-ranking__vname"
                data-ng-bind="item.variation.name"
                title="{{item.variation.name}}"></div>
        </div>
        <div class="pe-combinedview-ranking__icon">
            <span data-ng-if="!ctrl.isCustomizationFromCurrentCatalog(item.customization)"
                class="perso__globe-icon hyicon hyicon-globe"
                data-uib-tooltip="{{item.variation.catalogVersionNameL10N}}"
                data-tooltip-placement="top right"></span>
        </div>
    </div>
</div>