
/********************************************************
                    COMPONENT MENU
*********************************************************/

@se-component-menu--gutter: 15px;
@se-component-menu--width: 780px;
@se-component-item--image_width: 25%;
@se-component-item--details_font-size: 11px;
@se-component-menu--help-tip_font-size: 13px;
@se-component-item--visibility_font-size: 20px;
@se-component-menu--select-globe_font-size: 20px;
@se-component-search--search-icon_font-size: 30px;
@se-component-menu--result-overflow_height: 235px;

.se-component-menu {
	padding: 40px 40px 20px;
	width: @se-component-menu--width;
}

.se-component-menu--tabs {
	margin-bottom: 15px;
	display: block;
	.nav-tabs {
		margin-bottom: 20px;
	}
	li {
		text-align: left;
		margin-right: 30px;
		> a, > a:hover {
			border: none;
			padding: 5px 0;
			color: @smartedit-blue12;
			transition: none;
		}
		&.active a, &.active a:hover {
			padding-bottom: 5px;
			color: @smartedit-white;
			border-bottom-width: 5px;
			border-bottom-color: @smartedit-white;
		}
	}
}

.se-component-menu--item-container {
	padding-bottom: 15px;
	border-bottom: 1px solid @smartedit-grey17;
	& .spinner-container1 > div,
	& .spinner-container2 > div,
	& .spinner-container3 > div {
		background-color: @smartedit-white;
	}
	-ms-scrollbar-base-color: @smartedit-lightblue;
	-ms-scrollbar-arrow-color: @smartedit-blue8;
	-ms-scrollbar-highlight-color: @smartedit-lightblue;
	-ms-scrollbar-shadow-color: @smartedit-blue8;
}

.se-component-menu--overflow,
.se-component-menu--infinite-scroll > .ySEInfiniteScrolling-container {
	max-height: none;
	overflow-y: scroll;
	height: @se-component-menu--result-overflow_height;
}

.se-component-menu--results {
	display: flex;
	flex-wrap: wrap;
}

.se-component-menu--item-wrap {
	width: 50%;
	display: block;
	margin-bottom: 10px;
	padding-left: @se-component-menu--gutter;
	padding-right: @se-component-menu--gutter;
}

.se-component-menu--select {
	display: block;
	.select2-container {
		.select2-choice {
			background: transparent;
			border: none;
			box-shadow: none;
			height: auto;
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			.select2-chosen {
				padding-left: 10px;
				padding-top: 0;
				padding-bottom: 0;
			}
			.se-component-menu--select-local {
				color: @smartedit-white !important;
				position: relative;
				top: 0;
				line-height: normal;
				padding: 3px 0;
				.se-component-menu--select-globe {
					top: 3px;
				}
			}
		}
		.select2-arrow {
			position: static;
			height: auto !important;
			width: auto !important;
			display: block;
			b {
				color: @smartedit-white !important;
				display: block;
				margin: 0 !important;
			}
		}
		.select2-drop {
			border-radius: 0;
			color: @smartedit-grey21;
			margin-top: 0;
		}
		.select2-results {
			margin: 0;
			li {
				margin-right: 0;
			}
			.select2-result-label {
				padding: 10px;
			}
			.select2-highlighted {
				background-color: @smartedit-white;
				color: @smartedit-grey38;
			}
		}
		.ui-select-choices-row:hover {
			background-color: @smartedit-grey37;
		}
	}
}

.se-component-menu--select-local {
	position: relative;
}

.se-component-menu--select-globe {
	font-size: @se-component-menu--select-globe_font-size;
	color: inherit;
	position: absolute;
	left: 2px;
	top: 0;
	line-height: 0;
	& + .se-component-menu--select-text {
		margin-left: 30px;
	}
}

.se-component-menu--help-tip {
	color: @smartedit-white;
	font-family: @font-open-sans;
	font-size: @se-component-menu--help-tip_font-size;
	font-weight: normal;
	text-transform: none;
}

/********************************************************
                    Component Menu Search
*********************************************************/

.se-component-search {
	margin-bottom: 20px;
}

.se-component-search--addon {
	color: @smartedit-grey3;
	font-size: large;
	padding-right: 15px;
}

.se-component-search--search-icon {
	font-size: @se-component-search--search-icon_font-size;
	position: relative;
	top: -4px;
}

.se-component-search--input {
	&:focus {
		box-shadow: none;
	}
}

/********************************************************
                    Component Item
*********************************************************/

.se-component-item {
	display: flex;
	align-items: center;
	position: relative;
}

.se-component-item--image {
	width: @se-component-item--image_width;
	&:hover {
		cursor: grab;
	}
}

.se-component-item--image-element {
	max-width: 100%;
}

.se-component-item--details-container {
	color: @smartedit-white;
	width: (100% - @se-component-item--image_width);
	padding-left: @se-component-menu--gutter;
	display: flex;
	align-items: center;
}

.se-component-item--details {
	font-size: @se-component-item--details_font-size;
	white-space: nowrap;
	letter-spacing: 0.6px;
	flex-grow: 1;
	min-width: 0;
	overflow: hidden;
}

.se-component-item--details-name,
.se-component-item--details-type {
	text-overflow: ellipsis;
	overflow: hidden;
}

.se-component-item--details-name {
	font-weight: @font-weight--semibold;
}

.se-component-item--details-type {
	text-transform: uppercase;
}

.se-component-item--visibility {
	padding-left: @se-component-menu--gutter;
	font-size: @se-component-item--visibility_font-size;
	color: @smartedit-white;
	> .help-control {
		width: auto;
		height: auto;
		padding: 0;
	}
}

.se-component-item--disabled-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: fade(@smartedit-lightblue, 50%);
	> .help-control {
		width: 100%;
		height: 100%;
	}
}

.se-component-menu--tabs-header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.se-component-menu--clone-on-drop--label {
	color: @smartedit-white;
}

label.se-component-menu--clone-on-drop--label::before{
	border: 3px solid @smartedit-white;
	background: @smartedit-lightblue;
}

.se-component-menu--clone-on-drop {
	margin-top: 0;
}

.checkbox input{
	&:active + label,
	&:focus:not(:checked) + label {
		&:before {
			border-color: @smartedit-blue3;
		}
	}
}
