
/********************************************************
             Toolbar Item Delete
*********************************************************/
.toolbar-delete-action__popover {
	.se-dropdown-item--delete-page-popover
}

.toolbar-delete-action__icon {
	fill: currentColor;
	width: 31px;
	height: 37px;
	display: block;
	margin: 0 auto;
}

.yWebsiteSelectBtn {
	width: 100%;
}

/********************************************************
             YDropdown Item Delete
*********************************************************/
.se-dropdown-item--delete {
	border-top: 1px solid @smartedit-grey22;
}

.se-dropdown-item--delete-page-popover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	> .help-control {
		display: block;
		height: 100%;
		width: 100%;
		padding: 0;
	}
}

.se-dropdown-item--delete-page__disabled {
	color: @smartedit-grey35;

	.se-dropdown-item--icon {
		color: @smartedit-grey35;
	}
}