
/****************************************************
				drag-n-drop
****************************************************/
body .ySmartEditToolbars .dropdown-menu {
	overflow: auto !important;
}

body .ySmartEditToolbars experience-selector-button .dropdown-menu {
	overflow: visible !important;
}