
/****************************************************
				restriction-menu
****************************************************/
@ySENewPageDisplayCondition--min-height: 210px;
@ySERestrictionsContainer__clear_all--margin-top: .2*@smartedit-gutter;

.ySEVisibilityMenu__header {
	background-color: @smartedit-lightblue;
}

.ySEVisibilityMenu__restrictions {
	background-color: @smartedit-white;
}

.ySEVisibilityMenu {
	margin: 0;
	border: none;
	padding: 0;
	width: 780px;
}

.ySERestrictionsPageInfoContainer {
	padding: .5*@smartedit-gutter @smartedit-gutter;
}

.ySERestrictionsPageInfoContainer {
	color: @smartedit-white;
}

.restrictionsPageName {
	margin-top: 0;
	margin-bottom: 20px;
}

.restrictionsPageId {
	margin: 0;
}

.ySERestrictionsContainer--list {
	list-style: none;
	padding-left: 0;
}

.ySERestrictionsContainer--list__item {
	padding-top: .5*@smartedit-gutter;
}

.ySERestrictionsContainer--criteria__text {
	font-weight: bold;
}

.ySERestrictionsContainer--list__item__header {
	font-weight: bold;
	text-transform: uppercase;
}

/* EDIT MODAL FROM PAGE LIST FOR VISIBILITY */

.ySEVisbilityModalContainer-leftPane {
	border-right: 1px solid @smartedit-grey2;
	padding-left: 0;
}

.ySEVisbilityModalContainer-rightPane__selection {
	padding-left: .4*@smartedit-gutter;
}

.ySEVisbilityModalContainer-rightPane {
	padding: 0;
	border-left: 1px solid @smartedit-grey2;
	margin-left: -1px;
	min-height: 4*@smartedit-gutter;
}

.ySERestrictionListLink {
	.ySERestrictionsNameHeader {
		color: @default-blue;
		&.error-input {
			color: @smartedit-red;
		}
	}

	.ySERestrictionsTypeAndID {
		color: @techne-typo-default;
		&.error-input {
			color: @smartedit-red;
		}
	}

	.ySERestrictionsDescription {
		color: @techne-typo-default;
		&.error-input {
			color: @smartedit-red;
		}
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

:not(.ySERestrictionListLink) {
	.se-restrictions-list--content {
		cursor: initial;
	}
}

.ySERestrictionMenu,
.ySERestrictionsPageInfoContainer {
	cursor: initial;
}

.ySERestrictionsNameHeader {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: @font-weight--bold;
	margin: 0;
}

.ySERestrictionsTypeAndID {
	font-size: 14px;
	font-weight: @font-weight--semibold;
	margin-top: 0;
}

.ySERestrictionsDescription {
	font-size: 14px;
	font-weight: @font-weight--normal;
	overflow: hidden;
}

.ySERestrictionMenu {
	padding: .4*@smartedit-gutter @smartedit-gutter;
}

.ySEVisbilityModalContainer-rightPane__restrictionDetail {
	padding-left: .4*@smartedit-gutter;

}

.ySERestrictionsList-item-btn__more .y-dropdown-more-menu__ddlb__icon {
	font-size: 25px;
}

.se-restrictions-list {
	max-height: 450px;
	overflow-y: scroll;
}

.se-restrictions-list--item {
	display: flex;
	padding-top: .3 * @smartedit-gutter;
	padding-bottom: .3 * @smartedit-gutter;
	&:last-child {
		margin-bottom: 30px;
	}
}

.se-restrictions-list--content {
	flex: 10;
	.se-nowrap-ellipsis();
}

.se-restrictions-list--options {
	flex: 2;
}

.ySEVisbilityModalContainer-rightPane__restriction {
	visibility: visible;
	display: block;
}

.ySERestriction-select {
	width: 100%;
}

.ySERestrictionResultsList-item {
	padding: 10px 40px;
	margin-top: -1px;
	color: @techne-typo-default;
	font-size: 15px;
	font-weight: @font-weight--semibold;
}

.ySERestrictionResultsList-item:hover,
.ySERestrictionResultsList-item:active {
	background-color: @default-greyblue-200;
}

.ySERestrictionResultsList-item:hover,
.ySERestrictionResultsList-item:active {
	color: @smartedit-white;
}

.ySERestrictionResultsList-wrap {
	border-left: 1px solid @smartedit-grey11;
	border-right: 1px solid @smartedit-grey11;
	border-bottom: 1px solid @smartedit-grey11;
}

.ySERestrictionResultsList {
	border-top: 1px solid @smartedit-grey11;
}

.restriction-label-selected {
	color: @smartedit-grey6;
}

.ySEPageRestr-search {
	padding-top: 38px;
}

.ySEPageRestr-search .ySEPage-list-search .ySESearchIcon {
	background-color: @smartedit-white;
	border-left: none;
	border-right: none;
	border-radius: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	top: 0;
	font-size: large;
	color: @smartedit-grey3
}

.ySEPage-list-search .ySEPage-list-search-input.form-control {
	border-right: none;
	border-radius: 0;
}

.ySEPage-list-search__restriction {
	border-right: 1px solid @default-grey-700;
	margin-top: 0;
	margin-bottom: 0;
}

.ySEPageRestr-search__icon,
.ySEPageRestr-search__input,
.ySEPageRestr-searchIcon {
	border-bottom: none;
}

.form-readonly-text__tight {
	padding-top: 0;
	padding-bottom: 0;
}

label.control-label__margin {
	margin-bottom: 5px;
}

.ySENewPageDisplayCondition {
	min-height: @ySENewPageDisplayCondition--min-height;
}

.se-restriction-management-select__restriction__info__label {
	padding-top: .8*@smartedit-gutter;
}

.se-restriction-management-select__restriction__info {
	margin-bottom: .6*@smartedit-gutter;
}

.se-restriction-management-select__restriction__editor {
	padding-top: .4*@smartedit-gutter;
	border-top: 1px solid @default-grey-700;
}

.se-restriction-management-select__restriction__editor__instr {
	font-family: @font-open-sans;
	font-size: 15px;
	font-weight: @font-weight--normal;
}

.se-restriction-management-edit__name {
	font-family: @font-open-sans;
	font-size: 17px;
	font-weight: @font-weight--semibold;
	padding-bottom: .2*@smartedit-gutter;
}

.se-restriction-management-edit__code {
	font-family: @font-open-sans;
	font-size: 17px;
	font-weight: @font-weight--normal;
}

.se-restriction-management-edit__header {
	padding-bottom: .5*@smartedit-gutter;
	border-bottom: 1px solid @default-grey-700;
}

.se-restriction-management-edit__data {
	padding-top: .6*@smartedit-gutter;
}

y-select .ui-select-choices__infinite-scrolling {
	margin: 0;
}

.ySEVisbilityModalContainer-leftPane-title {
	padding-top: .4*@smartedit-gutter;
}

.se-restriction-management-select item-manager generic-editor .ySErow,
.se-restriction-management-supported-edit item-manager generic-editor .ySErow {
	margin-left: 0;
	margin-right: 0;
}

.ySERestrictionsContainer__clear_all {
	display: flex;
	justify-content: flex-end;
	margin-top: @ySERestrictionsContainer__clear_all--margin-top;
}

.ySERestrictionsContainer__clear_all__btn {
	font-family: @font-open-sans;
	padding-right: 0;
}
