<!DOCTYPE html>
<html>

<head>

    <!--3rd prty libs-->
    <script src="../../../../web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="../../../../web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="../../../../web/webroot/static-resources/dist/smartedit/css/outer-styling.css">

    <!--libs-->
    <script src="../../../../web/webroot/static-resources/smarteditloader/js/smarteditloader.js"></script>
    <script src="../../../../web/webroot/static-resources/smarteditcontainer/js/smarteditcontainer.js"></script>

    <script src="app.js"></script>
    <base href="../../../../" />
</head>

<body data-ng-app="app"
    data-ng-controller="defaultController">

    <button id="modalWithTitle"
        class="btn btn-primary"
        data-ng-click="openModalWithTitle()">open modal with title</button>
    <br/>
    <button id="modalWithTitleAndButtons"
        class="btn btn-primary"
        data-ng-click="openModalWithTitleAndButtons()">open modal with title and buttons</button>
    <br/>
    <button id="modalWithDisabledButton"
        class="btn btn-primary"
        data-ng-click="openModalWithDisabledButton()">open modal with disabled buttobn</button>
    <br/>
</body>

</html>