<div>
    <uib-tabset active="activeTabNumber">
        <uib-tab ng-repeat="tab in tabsArr"
            select="selectTab(tab)"
            disable="tab.disabled"
            heading="{{tab.heading}}">
            <form name="{{tab.formName}}"
                novalidate>
                <div>
                    <data-ng-include src="tab.template"></data-ng-include>
                </div>
            </form>
        </uib-tab>
    </uib-tabset>
</div>