@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/jmiguel/Development/hybris/Trail/concerttours/HYBRISCOMM6700P_2-80003492/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

/*================================
    Global Links Popup
================================*/
// Relevant Changes applied to the Global Links Popup


@import "scss/support/_globallinks-variables.scss";

.yw-global-links {
  .yw-global-links-container {
    width: $globallinks__popup-container--width;
    background: $globallinks__popup-item--bg-color;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    &-link {
      width: $globallinks__popup-item--width;
      display: inline-block;
      vertical-align: top;
      box-shadow: $globallinks__default--box-shadow;

      &:hover {
        cursor: pointer;
        background: $globallinks__popup-item-hover--bg-color;
        transition: $globallinks__popup-item--transition;
      }

      &-icon {
        width: 100%;
        height: $globallinks__navigation-icon--height;
        padding: $globallinks__navigation-icon--padding;
        margin: $globallinks__navigation-icon--margin;
      }

      &-label {
        width: 100%;
        color: $globallinks__navigation-label--color;
        padding: $globallinks__navigation-label--padding;
        text-align: $globallinks__navigation-label--text-align;
        line-height: $globallinks__navigation-label--line-height;
        display: block;
      }
    }
  }

  &-btn {
    img {
      height: $globallinks__navigation-btn--height;
    }
  }
}
