
/****************************************************
				Spinners
****************************************************/
.ySEWaitDialog {
  margin-top: 300px;
  .modal-dialog {
    width: 220px;
  }
  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: inline-block;
  }
  .modal-body {
    display: inline-block;
  }
}

.ySEPanelSpinner {
  background-color: transparent;
  box-shadow: none;
  border: none;
  display: inline-block;

  .panel-body {
    display: inline-block;
  }
}

.ySESpinner {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ySESpinnerText {
  color: @smartedit-white;
  font-size: 24px;
  font-family: @font-open-sans;
}

.se-spinner {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}
