
/********************************************************
                    YMESSAGE
*********************************************************/
@y-message--height: 70px;
@y-message-warning--background-color: @smartedit-yellow;
@y-message-danger--background-color: @smartedit-error;
@y-message-info--background-color: @smartedit-grey15;
@y-message-success--background-color: @smartedit-success;
@y-message--font-size: 15px;

@y-message__icon--radius: 23px;
@y-message__text--width: @se-toolbar-menu-content__y-message--gutter - 6*@se-toolbar-menu-content__y-message--gutter - 2*@y-message__icon--radius - 4;
@y-message__icon--padding-left: 10px;
@y-message__icon--font-size: 40px;

@se-toolbar-menu-content__y-message--width: 375px;
@se-toolbar-menu-content__y-message--gutter: .2*@smartedit-gutter;

.y-message {
	min-height: @y-message--height;
	background-color: @y-message-info--background-color;
	align-items: center;
	padding: @se-toolbar-menu-content__y-message--gutter 5*@se-toolbar-menu-content__y-message--gutter;
	display: flex;
}

.y-message-warning {
	.y-message;
	background-color: @y-message-warning--background-color;
}

.y-message-danger {
	.y-message;
	background-color: @y-message-danger--background-color;
}

.y-message-info {
	.y-message;
	background-color: @y-message-info--background-color;
}

.y-message-success {
	.y-message;
	background-color: @y-message-success--background-color;
}

.y-message-icon-outer {
	display: inline-block;
	min-height: 7*@se-toolbar-menu-content__y-message--gutter;
}

.y-message-icon {
	font-size: @y-message__icon--font-size;
	color: @smartedit-white;
}

.y-message-text {
	padding: 1.5*@se-toolbar-menu-content__y-message--gutter 2*@se-toolbar-menu-content__y-message--gutter;
	display: inline-block;
	margin-left: .2*@smartedit-gutter;
	min-height: 5*@se-toolbar-menu-content__y-message--gutter;
}

.y-message-info-text {
	font-family: @font-open-sans;
	font-size: @y-message--font-size;
	color: @techne-typo-default;
	margin-bottom: 0;
}

.y-message-info-title {
	font-weight: bold;
	.y-message-info-text;
}

.y-message-info-description {
	font-weight: normal;
	.y-message-info-text;
}

