<!DOCTYPE html>
<html>

<head>
    <base href="/web/webroot/" />

    <!--3rd prty libs-->
    <script src="static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="static-resources/dist/smartedit/css/outer-styling.css">
    <link rel="stylesheet"
        href="static-resources/thirdparties/angular-ui-select/dist/select.min.css">

    <!--libs-->
    <script src="../../../web/webroot/static-resources/smarteditloader/js/smarteditloader.js"></script>
    <script src="../../../web/webroot/static-resources/smarteditcontainer/js/smarteditcontainer.js"></script>
    <script src="../../test/e2e/systemAlerts/outerMocks.js"></script>
    <script src="../../test/e2e/systemAlerts/systemAlertsTestPage.js"></script>
</head>

<body data-ng-app="smarteditloader">

    <system-alerts></system-alerts>
    <system-alerts-test></system-alerts-test>

    <script type="text/ng-template"
        id="systemAlertsTestTemplate.html">
        <div>The number is {{ "12345.12345" | number: 2 }}.</div>
    </script>

</body>

</html>