<div data-ng-attr-id="{{scroll.containerId}}"
    class="ySEInfiniteScrolling-container {{scroll.dropDownContainerClass}}">
    <div class="ySEInfiniteScrolling {{scroll.dropDownClass}}"
        data-infinite-scroll="scroll.nextPage()"
        data-infinite-scroll-disabled="scroll.pagingDisabled"
        data-infinite-scroll-distance="scroll.distance"
        data-infinite-scroll-immediate-check="true"
        data-infinite-scroll-container='scroll.container'>
        <div data-ng-transclude></div>
    </div>
    <div data-ng-if="!scroll.pagingDisabled"
        class="panel panel-default panel__ySEInfiniteScrolling">
        <div class="panel-body panel-body__ySEInfiniteScrolling">
            <div class="spinner">
                <div class="spinner-container spinner-container1">
                    <div class="spinner-circle1"></div>
                    <div class="spinner-circle2"></div>
                    <div class="spinner-circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container spinner-container2">
                    <div class="spinner-circle1"></div>
                    <div class="spinner-circle2"></div>
                    <div class="spinner-circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container spinner-container3">
                    <div class="spinner-circle1"></div>
                    <div class="spinner-circle2"></div>
                    <div class="spinner-circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
        </div>
    </div>
</div>