<!DOCTYPE html>
<html>

<head>

    <base href="/web/webroot/" />

    <!--3rd prty libs-->
    <script src="static-resources/dist/smartedit/js/prelibraries.js"></script>
    <script src="static-resources/thirdparties/ckeditor/ckeditor.js"></script>
    <script src="static-resources/dist/smartedit/js/presmartedit.js"></script>
    <script src="static-resources/smartedit/modules/systemModule.js"></script>

    <script>
    angular.module('smarteditServicesModule', []).factory('sharedDataService', function() {
        return {
            set: function() {}
        }
    })
    </script>
    <script src="../../test/e2e/toolbars/itemMechanism/innerapp.js"></script>
</head>



<body data-ng-app="innerapp"
    data-ng-controller="defaultController"
    data-smartedit-ready="true">
    <label>Smart edit (this is an iFrame !)</label>
    <br/>
    <button id="sendActionsInner"
        class="btg btg-default"
        data-ng-click="sendActions()">Send Actions to Outer</button>
    <label id="message">{{message}}</label>

    <br />
    <button id="removeAction"
        class="btg btg-default"
        data-ng-click="removeAction()">Remove Action Outer</button>
</body>

</html>