<div class="ySErow"
    data-ng-repeat="field in geTab.fields">
    <div class="">
        <label class="control-label"
            data-ng-if="!field.hidePrefixLabel"
            data-ng-class="{'required': field.required}"
            id="{{field.qualifier}}-label">{{field.i18nKey | lowercase | translate}}
        </label>

    </div>
    <div class="ySEGenericEditorFieldStructure"
        id="{{field.qualifier}}"
        data-cms-field-qualifier="{{field.qualifier}}"
        data-cms-structure-type="{{field.cmsStructureType}}">
        <localized-element data-ng-if="field.localized"
            data-field="field"
            class="form-group multi-tabs-editor"
            data-input-template="genericEditorFieldWrapperTemplate.html"></localized-element>
        <generic-editor-field data-ng-if="!field.localized"
            data-model="geTab.component"
            data-field="field"
            data-qualifier="field.qualifier"
            data-id="geTab.id" />
    </div>
</div>