<!DOCTYPE html>
<html>

<head>

    <!--3rd prty libs-->
    <script src="../../../../web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="../../../../web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="../../../../web/webroot/static-resources/dist/smartedit/css/outer-styling.css">

    <!--libs-->
    <script src="../../../../web/webroot/static-resources/smarteditloader/js/smarteditloader.js"></script>
    <script src="../../../../web/webroot/static-resources/smarteditcontainer/js/smarteditcontainer.js"></script>

    <script src="app.js"></script>
    <base href="../../../../" />
</head>


<body data-ng-app="app"
    data-ng-controller="defaultController">

    <button id="test1"
        class="btn btn-primary"
        data-ng-click="openModal1();">open modal with templateUrl containing directive</button>
    <br/>
    <button id="test2"
        class="btn btn-primary"
        data-ng-click="openModal2();">open modal with templateUrl and controller ID</button>
    <br/>
    <button id="test3"
        class="btn btn-primary"
        data-ng-click="openModal3();">open modal with templateUrl and controller function</button>
    <br/>
    <button id="test4"
        class="btn btn-primary"
        data-ng-click="openModal4();">open modal with template and controller</button>
    <br/>
    <button id="test5"
        class="btn btn-primary"
        data-ng-click="openModal5();">open modal with template containing directive</button>
    <br/>
    <span id="successfulMessage">{{message}}</span>
    <br/>
    <span id="failureMessage">{{failure}}</span>
</body>

</html>