<div>
    <div class="cmsx-ctx-wrapper1 se-slot-contextual-menu-level1">
        <div class="cmsx-ctx-wrapper2 se-slot-contextual-menu-level2">
            <div class="decorative-panel-area"
                data-ng-if="ctrl.active && ctrl.slotSharedFlag">
                <div class="decorator-panel-padding-center"></div>
                <div class="decorative-panel-slot-contextual-menu">
                    <div class="shared-slot-button-template"
                        data-ng-if="ctrl.slotSharedFlag">
                        <div class="btn-group se-slot-ctx-menu__btn-group"
                            data-uib-dropdown
                            data-dropdown-append-to="'#smarteditoverlay'"
                            data-auto-close="outsideClick"
                            data-is-open="ctrl.isPopupOpened">
                            <button type="button"
                                data-uib-dropdown-toggle
                                class="btn btn-primary shared-slot-button-template__btn se-slot-ctx-menu__divider"
                                data-ng-class="{'ySESharedSlotOpen': ctrl.isPopupOpened}"
                                id="sharedSlotButton-{{::ctrl.smarteditComponentId}}">
                                <span class="hyicon hyicon-linked se-slot-ctx-menu__icon-shared"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right btn-block shared-slot__dropdown"
                                data-uib-dropdown-menu>
                                <div class="shared-slot__description"
                                    data-translate="personalization.slot.shared.popover.message"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="decorator-padding-container">
                <div class="decorator-padding-left"
                    data-ng-class="{active: ctrl.active}"></div>
                <div data-ng-class="ctrl.active && ctrl.slotSharedFlag ? 'decorator-slot-border active' : ''"></div>
                <div class="yWrapperData"
                    data-ng-transclude
                    data-ng-class="{active: ctrl.active}"></div>
                <div class="decorator-padding-right"
                    data-ng-class="{active: ctrl.active}"></div>
            </div>
        </div>
    </div>
</div>