<div class="ySmartEditToolbars">
    <toolbar data-css-class="ySmartEditTitleToolbar"
        data-image-root="imageRoot"
        data-toolbar-name="smartEditTitleToolbar"></toolbar>
</div>
<div class="pageListWrapper">
    <div class="se-page-list__header">
        <h1 class="se-page-list__title"
            data-translate='se.cms.trashedpagelist.title'></h1>
        <h4 class="se-page-list__sub-title">{{trashedPageListCtl.catalogName | l10n}} - {{trashedPageListCtl.catalogVersion}}</h4>
        <div class="se-page-list__page-link se-page-list__page-link--left"
            data-ng-click="trashedPageListCtl.backToPagelist()">
            <span class="se-page-list__page-link-icon hyicon hyicon-back"></span>
            <a>{{ 'se.cms.back.to.pagelist' | translate }}</a>
        </div>
    </div>

    <div class="se-input-group ySEPage-list-search">
        <div class="se-input-group--addon">
            <span class="hyicon hyicon-search ySEPage-list-search-icon"></span>
        </div>
        <input type="text"
            class="se-input-group--input ySEPage-list-search-input"
            placeholder="{{ 'se.cms.pagelist.searchplaceholder' | translate }}"
            data-ng-model="trashedPageListCtl.mask"
            data-ng-model-options="{debounce: 500}"
            name="mask">
        <div class="se-input-group--addon ySESearchIcon"
            data-ng-show="trashedPageListCtl.mask"
            data-ng-click="trashedPageListCtl.reset()">
            <span class="glyphicon glyphicon-remove-sign"></span>
        </div>
    </div>

    <dynamic-paged-list class="se-trashed-pages"
        data-config="trashedPageListCtl.trashedPageListConfig"
        data-mask="trashedPageListCtl.mask">
    </dynamic-paged-list>
</div>