<div class="se-hidden-component-menu">
    <div class="se-hidden-component-menu__item"
        data-ng-repeat="dropdownItem in ctrl.menuItems"
        data-ng-click="ctrl.executeItemCallback(dropdownItem, $event)">
        <span class="se-hidden-component-menu__item-icon"
            data-ng-class="[dropdownItem.displayIconClass]"></span>
        <span class="se-hidden-component-menu__item-link">
            {{ dropdownItem.i18nKey | translate }}
        </span>
    </div>
</div>