<div class="se-hidden-component-menu__popup-anchor"
    data-ng-click="ctrl.onButtonClick($event)"
    y-popup-overlay="ctrl.popupConfig"
    y-popup-overlay-trigger="{{ctrl.isMenuOpen}}"
    y-popup-overlay-on-hide="ctrl.onMenuHide()">
    <span data-ng-if="ctrl.menuItems.length > 0"
        class="hyicon hyicon-more se-hidden-component-menu__icon"></span>
</div>