<div>
    <div class="cmsx-ctx-wrapper1 se-slot-contextual-menu-level1">
        <div class="cmsx-ctx-wrapper2 se-slot-contextual-menu-level2">
            <div class="decorative-panel-area"
                data-ng-if="ctrl.showOverlay()">
                <p class="decorative-panel-text">{{::ctrl.smarteditComponentId}}</p>
                <div class="decorator-panel-padding-center"></div>
                <div class="decorative-panel-slot-contextual-menu"
                    data-ng-if="ctrl.showOverlay() && ctrl.showItems">
                    <div data-ng-repeat="item in ctrl.getItems().leftMenuItems"
                        class="btn btn-primary cmsx-ctx-btns pull-right"
                        data-ng-init="itemsrc = item.iconIdle"
                        data-ng-mouseout="itemsrc = item.iconIdle"
                        data-ng-mouseover="itemsrc = item.iconNonIdle">
                        <div data-ng-if="!item.action.templateUrl">
                            <span id="{{::item.i18nKey | translate}}-{{::ctrl.smarteditComponentId}}-{{::ctrl.smarteditComponentType}}-hyicon"
                                data-ng-if="item.iconIdle && ctrl.isHybrisIcon(item.displayClass)"
                                data-ng-click="ctrl.triggerMenuItemAction(item, $event)"
                                class="ng-class:{clickable:true}">
                                <img data-ng-src="{{itemsrc}}"
                                    id="{{::item.i18nKey | translate}}-{{::ctrl.smarteditComponentId}}-{{::ctrl.smarteditComponentType}}-hyicon-img"
                                    title="{{::item.i18nKey | translate}}" />
                            </span>
                            <img id="{{::item.i18nKey | translate}}-{{::ctrl.smarteditComponentId}}-{{::ctrl.smarteditComponentType}}"
                                title="{{::item.i18nKey | translate}}"
                                data-ng-if="item.iconIdle && !ctrl.isHybrisIcon(item.displayClass)"
                                class="{{item.displayClass}}"
                                data-ng-class="{clickable:true}"
                                data-ng-click="ctrl.triggerMenuItemAction(item, $event)"
                                data-ng-src="{{itemsrc}}"
                                alt="{{item.i18nKey}}" />
                        </div>
                        <div data-ng-if="item.action.templateUrl">
                            <div data-ng-include="item.action.templateUrl"></div>
                        </div>
                        <div class="slot-context-menu-divider"></div>
                    </div>
                    <div data-ng-repeat="item in ctrl.getItems().moreMenuItems"
                        class="btn btn-primary cmsx-ctx-btns pull-right"
                        data-ng-init="itemsrc = item.iconIdle"
                        data-ng-mouseout="itemsrc = item.iconIdle"
                        data-ng-mouseover="itemsrc = item.iconNonIdle">
                        <div data-ng-if="!item.action.templateUrl">
                            <span id="{{::item.i18nKey | translate}}-{{::ctrl.smarteditComponentId}}-{{::ctrl.smarteditComponentType}}-hyicon"
                                data-ng-if="item.iconIdle && ctrl.isHybrisIcon(item.displayClass)"
                                data-ng-click="ctrl.triggerMenuItemAction(item, $event)"
                                class="ng-class:{clickable:true}">
                                <img data-ng-src="{{itemsrc}}"
                                    id="{{::item.i18nKey | translate}}-{{::ctrl.smarteditComponentId}}-{{::ctrl.smarteditComponentType}}-hyicon-img"
                                    title="{{::item.i18nKey | translate}}" />
                            </span>
                            <img id="{{::item.i18nKey | translate}}-{{::ctrl.smarteditComponentId}}-{{::ctrl.smarteditComponentType}}"
                                title="{{::item.i18nKey | translate}}"
                                data-ng-if="item.iconIdle && !ctrl.isHybrisIcon(item.displayClass)"
                                class="{{item.displayClass}}"
                                data-ng-class="{clickable:true}"
                                data-ng-click="ctrl.triggerMenuItemAction(item, $event)"
                                data-ng-src="{{itemsrc}}"
                                alt="{{item.i18nKey}}" />
                        </div>
                        <div data-ng-if="item.action.templateUrl">
                            <div data-ng-include="item.action.templateUrl"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="decorator-padding-container">
                <div class="decorator-padding-left"
                    data-ng-class="{active: ctrl.active}"></div>
                <div class="decorator-slot-border"
                    data-ng-class="{active: ctrl.active}"></div>
                <div class="yWrapperData"
                    data-ng-transclude
                    data-ng-class="{active: ctrl.active}"></div>
                <div class="decorator-padding-right"
                    data-ng-class="{active: ctrl.active}"></div>
            </div>
        </div>
    </div>
</div>