/****************************************************
				Elements
****************************************************/

/* Make iFrame 100% height of the screen by default + fix drag and drop jumping */
body > [data-ng-view] {
	height: 100vh;
}

body[data-smartedit-ready] {
	height: auto;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
	cursor: pointer;
}

/****************************************************
				richtexteditor
****************************************************/
body.cke_editable {
	padding-top: 0;
}