/* *
/* This file is the parent of all the styles and the only variable converted to css and visible to the outside world.
/* All the imports should go here only
*/
/* *
/* *
/* Imports of personalizationpromotions variables, common styles, fixes and re-usable components
*/
/* *
/* This file will include all the constants (e.g. colors, fonts, etc)
*/
/** Colors
/* all the colors used - write them once in this section so we can easier keep track and re-use
*/
/* *
/* This file includes the common styles used in Personalization
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
/* new: the active status is now called enabled
 /* the inactive status is now called disabled 
 */
.status-active {
  color: green;
}
.status-ignore,
.status-inactive {
  color: #8592a2;
}
.perso-list__status--value,
.perso-cc-modal__title-status {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.personalization-modal__label {
  font-size: 13px;
  font-weight: 700;
}
/* * 
/* Imports of the rest of personalizationpromotions styling
*/
/* *
/* This file includes the styles used in Commerce Customization modal
*/
.perso-cc-modal {
  color: #27394f;
}
.perso-cc-modal .select2-choices {
  margin-top: 15px;
}
.perso-cc-modal .ui-select-match-item {
  padding: 10px 20px;
  display: inline-block;
}
.perso-cc-modal .ui-select-match-item.select2-search-choice {
  background: #caddf0;
  border-style: none;
  line-height: 22px;
  margin: 5px 10px 5px 0;
}
.perso-cc-modal .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.perso-cc-modal .ui-select-match-close {
  position: inherit;
  vertical-align: top;
  padding-left: 10px;
}
.perso-cc-modal__title-layout {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #d4d7dc;
}
.perso-cc-modal__title-cname {
  font-weight: 700;
  max-width: 35%;
}
.perso-cc-modal__title-vname {
  padding-left: 5px;
  max-width: 60%;
}
.perso-cc-modal__title-status {
  padding: 0 5px;
  align-self: center;
}
.perso-cc-modal__content-layout {
  margin: 30px 0;
}
@media (max-width: 768px) {
  .perso-cc-modal__ui-select--small {
    width: 250px;
  }
}
