<div data-ui-tree="ctrl.treeOptions.callbacks"
    data-drag-enabled="ctrl.treeOptions.dragEnabled"
    data-drag-delay="ctrl.treeOptions.dragDelay"
    class="categoryTable ySENavigationTree">

    <div class="ySENavigationTree-body">
        <div class="mobileLayout clearfix visible-xs ">
        </div>

        <div class="desktopLayout clearfix visible-sm visible-md visible-lg ">

            <ol data-ui-tree-nodes=""
                data-ng-model="ctrl.root.nodes"
                class="ySENavigationTree-body__nodes">

                <li data-ng-if="ctrl.root.nodes.length === 0"
                    class="ySENavigationTree__nodata"
                    data-translate="se.ytree.no.nodes.to.display"></li>

                <li class="ySENavigationTree-body__nodes__item"
                    data-ng-repeat="node in ctrl.root.nodes"
                    data-ui-tree-node
                    data-ng-include="'treeNodeRendererTemplate.html'"></li>
            </ol>
        </div>
    </div>
</div>