<div class="sync-indicator-decorator"
    data-ng-class="ctrl.syncStatus.status"
    data-sync-status="{{ctrl.syncStatus.status}}">
    <div class="yWrapperData"
        data-ng-transclude></div>
</div>